USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_STAT_DISPATCH]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**
 * 배차 대수 통계
 * 일간/주간/월간/연간 별로 스케줄러에서 작동
 */
CREATE PROCEDURE [dbo].[SCH_STAT_DISPATCH]
(
	@Q_BY		VARCHAR(20)
)
AS 

DECLARE @STARTDATE 	VARCHAR(10)
DECLARE @ENDDATE   	VARCHAR(10)
DECLARE @Q_TIME		VARCHAR(10)

BEGIN
	
	SELECT @STARTDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) - 5
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(m,-1, DATEADD(d,-day(GETDATE())+1,GETDATE()))
			WHEN @Q_BY = 'YEAR' THEN DATEADD(YY, DATEDIFF(YY, 0, GETDATE()) - 1, 0)
		END;
	
	SELECT @ENDDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) + 1
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(d,-day(GETDATE()),GETDATE())
			WHEN @Q_BY = 'YEAR' THEN DATEADD(dd, -1, DATEADD(YY, DATEDIFF(YY, 0, GETDATE()), 0))
		END;	
	
	IF @Q_BY = 'DAY' 
	BEGIN		
		WITH D1 AS 
		(
			SELECT 'DAY' Q_BY, DATEPART(YEAR, A.ALLOC_DATE) YEAR, CONVERT(VARCHAR(10),A.ALLOC_DATE,112) Q_TIME, BB.SELL_CUST_ID, BB.CAR_TON_CODE, COUNT(*) CNT
			FROM (
				SELECT TT.ORDER_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, B.SELL_CUST_ID 
				FROM (
					SELECT ORDER_ID, CAR_TON_CODE 
					FROM dbo.T_ORDER_ALLOC 
					WHERE ALLOC_STATE IN ('01', '04', '05') 
					GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
				WHERE TT.ORDER_ID = B.ORDER_ID 
				GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID) BB
			JOIN (
				SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE
				FROM dbo.T_ORDER
				WHERE ORDER_STATE IN ('01', '04', '05')
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
					    AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				) A
				ON  A.ORDER_ID = BB.ORDER_ID
			WHERE NOT SELL_CUST_ID IS NULL AND A.ALLOC_DATE IS NOT NULL
			GROUP BY DATEPART(YEAR, A.ALLOC_DATE), CONVERT(VARCHAR(10),A.ALLOC_DATE,112), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_DISPATCH AS STAT
			USING   D1
			ON          STAT.Q_BY     = D1.Q_BY
					AND STAT.YEAR     = D1.YEAR
					AND STAT.Q_TIME   = D1.Q_TIME
					AND STAT.CUST_ID  = D1.SELL_CUST_ID
					AND STAT.TON_CODE = D1.CAR_TON_CODE
		WHEN NOT MATCHED THEN
			INSERT (Q_BY,    YEAR,    Q_TIME,    CUST_ID,         TON_CODE,        CNT)
			VALUES (D1.Q_BY, D1.YEAR, D1.Q_TIME, D1.SELL_CUST_ID, D1.CAR_TON_CODE, D1.CNT);	
	END
	
	ELSE IF @Q_BY = 'WEEK'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'WEEK' Q_BY, DATEPART(YEAR, A.ALLOC_DATE) YEAR, DATEPART(WEEK, A.ALLOC_DATE) Q_TIME, BB.SELL_CUST_ID, BB.CAR_TON_CODE, COUNT(*) CNT
			FROM (
				SELECT TT.ORDER_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, B.SELL_CUST_ID 
				FROM (
					SELECT ORDER_ID, CAR_TON_CODE 
					FROM dbo.T_ORDER_ALLOC 
					WHERE ALLOC_STATE IN ('01', '04', '05') 
					GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
				WHERE TT.ORDER_ID = B.ORDER_ID 
				GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID) BB
			JOIN (
				SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE
				FROM dbo.T_ORDER
				WHERE ORDER_STATE IN ('01', '04', '05')
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
					    AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'					
				) A
				ON  A.ORDER_ID = BB.ORDER_ID
			WHERE NOT SELL_CUST_ID IS NULL AND A.ALLOC_DATE IS NOT NULL
			GROUP BY DATEPART(YEAR, A.ALLOC_DATE), DATEPART(WEEK, A.ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_DISPATCH AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.TON_CODE = W1.CAR_TON_CODE
		WHEN NOT MATCHED THEN
			INSERT (Q_BY,    YEAR,    Q_TIME,    CUST_ID,         TON_CODE,        CNT)
			VALUES (W1.Q_BY, W1.YEAR, W1.Q_TIME, W1.SELL_CUST_ID, W1.CAR_TON_CODE, W1.CNT);
		
	END
	
	ELSE IF @Q_BY = 'MONTH'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'MONTH' Q_BY, DATEPART(YEAR, A.ALLOC_DATE) YEAR, DATEPART(MONTH, A.ALLOC_DATE) Q_TIME, BB.SELL_CUST_ID, BB.CAR_TON_CODE, COUNT(*) CNT
			FROM (
				SELECT TT.ORDER_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, B.SELL_CUST_ID 
				FROM (
					SELECT ORDER_ID, CAR_TON_CODE 
					FROM dbo.T_ORDER_ALLOC 
					WHERE ALLOC_STATE IN ('01', '04', '05') 
					GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
				WHERE TT.ORDER_ID = B.ORDER_ID 
				GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID) BB
			JOIN (
				SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE
				FROM dbo.T_ORDER
				WHERE ORDER_STATE IN ('01', '04', '05')
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
					    AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'				
				) A
				ON  A.ORDER_ID = BB.ORDER_ID
			WHERE NOT SELL_CUST_ID IS NULL AND A.ALLOC_DATE IS NOT NULL
			GROUP BY DATEPART(YEAR, A.ALLOC_DATE), DATEPART(MONTH, A.ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_DISPATCH AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.TON_CODE = W1.CAR_TON_CODE
		WHEN NOT MATCHED THEN
			INSERT (Q_BY,    YEAR,    Q_TIME,    CUST_ID,         TON_CODE,        CNT)
			VALUES (W1.Q_BY, W1.YEAR, W1.Q_TIME, W1.SELL_CUST_ID, W1.CAR_TON_CODE, W1.CNT);
		
	END
	
	ELSE IF @Q_BY = 'YEAR'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'YEAR' Q_BY, DATEPART(YEAR, A.ALLOC_DATE) YEAR, DATEPART(YEAR, A.ALLOC_DATE) Q_TIME, BB.SELL_CUST_ID, BB.CAR_TON_CODE, COUNT(*) CNT
			FROM (
				SELECT TT.ORDER_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, B.SELL_CUST_ID 
				FROM (
					SELECT ORDER_ID, CAR_TON_CODE 
					FROM dbo.T_ORDER_ALLOC 
					WHERE ALLOC_STATE IN ('01', '04', '05') 
					GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
				WHERE TT.ORDER_ID = B.ORDER_ID 
				GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID) BB
			JOIN (
				SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE
				FROM dbo.T_ORDER
				WHERE ORDER_STATE IN ('01', '04', '05')
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
					    AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'				
				) A
				ON  A.ORDER_ID = BB.ORDER_ID
			WHERE NOT SELL_CUST_ID IS NULL AND A.ALLOC_DATE IS NOT NULL
			GROUP BY DATEPART(YEAR, A.ALLOC_DATE), DATEPART(YEAR, A.ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_DISPATCH AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.TON_CODE = W1.CAR_TON_CODE
		WHEN NOT MATCHED THEN
			INSERT (Q_BY,    YEAR,    Q_TIME,    CUST_ID,         TON_CODE,        CNT)
			VALUES (W1.Q_BY, W1.YEAR, W1.Q_TIME, W1.SELL_CUST_ID, W1.CAR_TON_CODE, W1.CNT);
	END
END	
GO
