USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_LINK_FARE]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SCH_LINK_FARE]
AS

DECLARE @STARTDATE VARCHAR(10)

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT @STARTDATE = DATEADD(DAY, -1, GETDATE());

    -- Insert statements for procedure here
	WITH T1 AS 
	(
		SELECT MIN(ALLOC_CHARGE) MIN_FARE, MAX(ALLOC_CHARGE) MAX_FARE, SUM(ALLOC_CHARGE) AVG_FARE, COUNT(1) CNT, S_SIDO, S_GUNGU, E_SIDO, E_GUNGU, CAR_TON_CODE
		FROM
			(
				SELECT ISNULL(ALLOC_CHARGE, 0) ALLOC_CHARGE, ORDER_ID
				FROM T_ORDER_ALLOC  
				WHERE ALLOC_STATE IN ('01', '04', '05') AND LINK_YN IN ('Y', 'S')
			) A 
			INNER JOIN 
			(
				SELECT S_SIDO
					 , CASE WHEN CHARINDEX(' ', S_GUNGU) > 0 THEN LEFT(S_GUNGU, CHARINDEX(' ', S_GUNGU) - 1) ELSE S_GUNGU END S_GUNGU  
					 , E_SIDO
					 , CASE WHEN CHARINDEX(' ', E_GUNGU) > 0 THEN LEFT(E_GUNGU, CHARINDEX(' ', E_GUNGU) - 1) ELSE E_GUNGU END E_GUNGU
					 , ORDER_ID
					 , CAR_TON_CODE
				FROM T_ORDER 
				WHERE ORDER_STATE IN ('01', '04', '05')
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
							AND ALLOC_DATE <= CONVERT(VARCHAR(10), @STARTDATE, 120) + ' 23:59:59'
			) B ON A.ORDER_ID = B.ORDER_ID
		GROUP BY  S_SIDO, S_GUNGU, E_SIDO, E_GUNGU, CAR_TON_CODE
	)
	MERGE
		INTO    T_LINK_FARE AS STAT
		USING   T1
		ON          STAT.S_SIDO     = T1.S_SIDO
				AND STAT.S_GUNGU    = T1.S_GUNGU
				AND STAT.E_SIDO   	= T1.E_SIDO
				AND STAT.E_GUNGU  	= T1.E_GUNGU
				AND STAT.TON_CODE = T1.CAR_TON_CODE
	WHEN MATCHED THEN 
		UPDATE SET 
			STAT.MIN_FARE = CASE WHEN STAT.MIN_FARE > T1.MIN_FARE THEN T1.MIN_FARE ELSE STAT.MIN_FARE END 
		  , STAT.AVG_FARE = STAT.AVG_FARE + T1.AVG_FARE 
		  , STAT.MAX_FARE = CASE WHEN STAT.MAX_FARE < T1.MAX_FARE THEN T1.MAX_FARE ELSE STAT.MAX_FARE END 
		  , STAT.CNT = STAT.CNT + T1.CNT
	WHEN NOT MATCHED THEN
		INSERT (S_SIDO, S_GUNGU, E_SIDO, E_GUNGU, TON_CODE, MIN_FARE, AVG_FARE, MAX_FARE, CNT, REG_DATE )
		VALUES (T1.S_SIDO, T1.S_GUNGU, T1.E_SIDO, T1.E_GUNGU, T1.CAR_TON_CODE, T1.MIN_FARE, T1.AVG_FARE, T1.MAX_FARE, T1.CNT, GETDATE());
END
GO
