USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CALC_FINISH_MULTI_20211215]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_CALC_FINISH_MULTI_20211215] (
	@mode		NVARCHAR(1)
  , @mngCustId	NVARCHAR(20)
  , @mngDeptId	NVARCHAR(20)
  , @loginId	NVARCHAR(20)
  , @calcIdList	NVARCHAR(3000)
  , @retCode 	NVARCHAR(2) 	OUTPUT
  , @retMsg 	NVARCHAR(200) 	OUTPUT
)
AS 
BEGIN
	
	DECLARE @RET_OK		NVARCHAR(2) = '00'
	DECLARE @RET_ERR	NVARCHAR(2) = '99'
	
	DECLARE @payCount	INT
	
	IF @mode = 'Y' 
	BEGIN
		
		INSERT INTO T_CALC_PAY (
				ORDER_ID	, ALLOC_ID		, MNG_CUST_ID	, MNG_DEPT_ID	, FINISH_DATE 
			  , FINISH_ID	, BUY_AMT		, PAYABLE_AMT 	, BANK_CNNM 
			  , BANK_CODE	, BANK_ACCOUNT 	, CAR_NUM		, DRIVER_NAME	, DRIVER_TEL 
			  , CUST_ID		, DEPT_ID		, DRIVER_ID		, VEHIC_ID		, PAY_STATE_CODE
				)	
		SELECT
				A.ORDER_ID	, A.ALLOC_ID	, A.MNG_CUST_ID	, A.MNG_DEPT_ID	, GETDATE()			
			  , @loginId	, SUM(PAYABLE_AMT), SUM(PAYABLE_AMT), ISNULL(C.BANK_CNNM, D.BANK_CNNM)
			  , ISNULL(C.BANK_CODE, D.BANK_CODE)	, ISNULL(C.BANK_ACCOUNT, D.BANK_ACCOUNT)	, B.CAR_NUM 	, B.DRIVER_NAME , B.DRIVER_TEL 
			  , A.CUST_ID	, A.DEPT_ID 	, A.DRIVER_ID  	, A.VEHIC_ID 	, '00'
		FROM T_CALC A
			 INNER JOIN
			 T_ORDER_ALLOC B ON A.ORDER_ID = B.ORDER_ID AND A.ALLOC_ID = B.ALLOC_ID 
			 LEFT OUTER JOIN 
			 T_DRIVER C ON A.DRIVER_ID = C.DRIVER_ID
			 LEFT OUTER JOIN 
			 T_CUST_MST D ON A.CUST_ID = D.CUST_ID 
		WHERE 
				A.MNG_CUST_ID = @mngCustId AND A.USE_YN = 'Y'
				AND A.FINISH_YN = 'N'
				AND (CASE WHEN ISNULL(@mngDeptId, '') = '' THEN '' ELSE A.MNG_DEPT_ID END) = ISNULL(@mngDeptId, '')
				AND A.CALC_ID IN (SELECT VALUE FROM STRING_SPLIT(@calcIdList,','))
				AND A.SELL_BUY_SCTN = '02'
		GROUP BY 
			A.ORDER_ID, A.ALLOC_ID, A.MNG_CUST_ID, A.MNG_DEPT_ID, B.CAR_NUM, B.DRIVER_NAME, B.DRIVER_TEL
		  , A.CUST_ID, A.DEPT_ID , A.DRIVER_ID  , A.VEHIC_ID, ISNULL(C.BANK_CNNM, D.BANK_CNNM)
		  , ISNULL(C.BANK_CODE, D.BANK_CODE)	, ISNULL(C.BANK_ACCOUNT, D.BANK_ACCOUNT)
		
		
		UPDATE 	
				T_CALC 
		SET 	
				FINISH_YN = @mode,
				DEPOSIT_AMT = UNPAID_AMT,
				WITHDRAWAL_AMT = PAYABLE_AMT,
				FINISH_USER_ID = @loginId,
				UNPAID_AMT = 0,
				PAYABLE_AMT = 0,
				CALC_DATE = GETDATE()
		WHERE 
				MNG_CUST_ID = @mngCustId AND USE_YN = 'Y'
				AND FINISH_YN = 'N'
				AND (CASE WHEN ISNULL(@mngDeptId, '') = '' THEN '' ELSE MNG_DEPT_ID END) = ISNULL(@mngDeptId, '')
				AND CALC_ID IN (SELECT VALUE FROM STRING_SPLIT(@calcIdList,','))
		
		SET @retCode = @RET_OK
		SET @retMsg = '정산 내역이 마감되었습니다.'		
	END
	ELSE		
	BEGIN
		SELECT @payCount = COUNT(1)
		FROM T_CALC_PAY A
			 INNER JOIN
			 T_CALC B ON A.ORDER_ID = B.ORDER_ID AND A.ALLOC_ID = B.ALLOC_ID 
		WHERE 
			A.MNG_CUST_ID = @mngCustId AND B.USE_YN = 'Y' AND A.USE_YN = 'Y'
			AND B.FINISH_YN = 'N'
			AND (CASE WHEN ISNULL(@mngDeptId, '') = '' THEN '' ELSE A.MNG_DEPT_ID END) = ISNULL(@mngDeptId, '')
			AND B.CALC_ID IN (SELECT VALUE FROM STRING_SPLIT(@calcIdList,','))
			AND A.PAY_STATE_CODE NOT IN ('00')
		
		IF @payCount > 0
		BEGIN 			
			SET @retCode = @RET_ERR
			SET @retMsg = '지급이 진행중인 내역이 있어 마감 취소를 할 수 없습니다.'
		END 
		ELSE 
		BEGIN
			UPDATE T_CALC_PAY SET USE_YN = 'N'
			FROM T_CALC_PAY A
				 INNER JOIN
				 T_CALC B ON A.ORDER_ID = B.ORDER_ID AND A.ALLOC_ID = B.ALLOC_ID 
			WHERE 
				A.MNG_CUST_ID = @mngCustId AND B.USE_YN = 'Y' AND A.USE_YN = 'Y'
				AND B.FINISH_YN = 'Y'
				AND (CASE WHEN ISNULL(@mngDeptId, '') = '' THEN '' ELSE A.MNG_DEPT_ID END) = ISNULL(@mngDeptId, '')
				AND B.CALC_ID IN (SELECT VALUE FROM STRING_SPLIT(@calcIdList,','))
			
			UPDATE 	
					T_CALC 
			SET 	
					FINISH_YN = @mode,
					UNPAID_AMT = DEPOSIT_AMT,
					PAYABLE_AMT = WITHDRAWAL_AMT,
					FINISH_USER_ID = NULL,
					DEPOSIT_AMT = 0,
					WITHDRAWAL_AMT = 0,
					CALC_DATE = NULL
			WHERE 
					MNG_CUST_ID = @mngCustId AND USE_YN = 'Y'
					AND FINISH_YN = 'Y'
					AND (CASE WHEN ISNULL(@mngDeptId, '') = '' THEN '' ELSE MNG_DEPT_ID END) = ISNULL(@mngDeptId, '')
					AND CALC_ID IN (SELECT VALUE FROM STRING_SPLIT(@calcIdList,','))
			
					
			SET @retCode = @RET_OK
			SET @retMsg = '정산 마감이 취소되었습니다.'		
		END 
	END
END
GO
