USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_STAT_LOAD]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**
 * 적재율 통계
 * 일간/주간/월간/연간 별로 스케줄러에서 작동
 */
CREATE PROCEDURE [dbo].[SCH_STAT_LOAD]
(
	@Q_BY		VARCHAR(20)
)
AS 

DECLARE @STARTDATE 	VARCHAR(10)
DECLARE @ENDDATE   	VARCHAR(10)
DECLARE @Q_TIME		VARCHAR(10)

BEGIN
	
	SELECT @STARTDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) - 5
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(m,-1, DATEADD(d,-day(GETDATE())+1,GETDATE()))
			WHEN @Q_BY = 'YEAR' THEN DATEADD(YY, DATEDIFF(YY, 0, GETDATE()) - 1, 0)
		END;
	
	SELECT @ENDDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) + 1
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(d,-day(GETDATE()),GETDATE())
			WHEN @Q_BY = 'YEAR' THEN DATEADD(dd, -1, DATEADD(YY, DATEDIFF(YY, 0, GETDATE()), 0))
		END;	
	
	IF @Q_BY = 'DAY' 
	BEGIN		
		WITH W1 AS 
		(
			SELECT 'DAY' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, CONVERT(VARCHAR(10), ALLOC_DATE,112) Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
					, COUNT(*) AS CNT, SUM(GOODS_WEIGHT) SUM_LOAD, SUM(CAR_TON) SUM_CAR
					, (
						CAST(
								SUM(GOODS_WEIGHT) / (
								SUM(CAR_TON)
							) * 100 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM (
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, VEHIC_ID, A.CAR_TON_CODE, CAR_TON
				FROM (
					SELECT B.ORDER_ID, SELL_CUST_ID, TT.VEHIC_ID, TT.CAR_TON_CODE,
						CAST(TT.DEFAULT_VALUE AS INT) * 1.1 AS CAR_TON
					FROM (
						SELECT ORDER_ID, CAR_TON_CODE, VEHIC_ID, BBB.DEFAULT_VALUE  
						FROM dbo.T_ORDER_ALLOC AAA
							 INNER JOIN
							(SELECT CODE, DEFAULT_VALUE 
							 FROM T_CODE 
							 WHERE GCODE = 'CAR_TON_CD' AND FILTER2='TON') BBB ON AAA.CAR_TON_CODE = BBB.CODE
						WHERE ALLOC_STATE IN ('01', '04', '05')) TT
						INNER JOIN 
						T_ORDER_ALLOC B ON TT.ORDER_ID = B.ORDER_ID 
					WHERE 
						NOT B.SELL_CUST_ID IS NULL 
					) BB
				JOIN (
					SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE, GOODS_WEIGHT, CAR_TON_CODE
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
						AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				) A
				ON A.ORDER_ID = BB.ORDER_ID	
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), CONVERT(VARCHAR(10),ALLOC_DATE,112), SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_LOAD AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   TON_CODE,      CNT, SUM_LOAD, SUM_TON, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE,  CNT, SUM_LOAD, SUM_CAR, T_RATE);
	END
	
	ELSE IF @Q_BY = 'WEEK'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'WEEK' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(WEEK, ALLOC_DATE) Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
					, COUNT(*) AS CNT, SUM(GOODS_WEIGHT) SUM_LOAD, SUM(CAR_TON) SUM_CAR
					, (
						CAST(
								SUM(GOODS_WEIGHT) / (
								SUM(CAR_TON)
							) * 100 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM (
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, VEHIC_ID, A.CAR_TON_CODE, CAR_TON
				FROM (
					SELECT B.ORDER_ID, SELL_CUST_ID, TT.VEHIC_ID, TT.CAR_TON_CODE,
						CAST(TT.DEFAULT_VALUE AS INT) * 1.1 AS CAR_TON
					FROM (
						SELECT ORDER_ID, CAR_TON_CODE, VEHIC_ID, BBB.DEFAULT_VALUE  
						FROM dbo.T_ORDER_ALLOC AAA
							 INNER JOIN
							(SELECT CODE, DEFAULT_VALUE 
							 FROM T_CODE 
							 WHERE GCODE = 'CAR_TON_CD' AND FILTER2='TON') BBB ON AAA.CAR_TON_CODE = BBB.CODE
						WHERE ALLOC_STATE IN ('01', '04', '05')) TT
						INNER JOIN 
						T_ORDER_ALLOC B ON TT.ORDER_ID = B.ORDER_ID 
					WHERE 
						NOT B.SELL_CUST_ID IS NULL 
					) BB
				JOIN (
					SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE, GOODS_WEIGHT, CAR_TON_CODE
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
						AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				) A
				ON A.ORDER_ID = BB.ORDER_ID	
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(WEEK, ALLOC_DATE), SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_LOAD AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   TON_CODE,      CNT, SUM_LOAD, SUM_TON, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE,  CNT, SUM_LOAD, SUM_CAR, T_RATE);
	END
	
	ELSE IF @Q_BY = 'MONTH'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'MONTH' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(MONTH, ALLOC_DATE) Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
					, COUNT(*) AS CNT, SUM(GOODS_WEIGHT) SUM_LOAD, SUM(CAR_TON) SUM_CAR
					, (
						CAST(
								SUM(GOODS_WEIGHT) / (
								SUM(CAR_TON)
							) * 100 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM (
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, VEHIC_ID, A.CAR_TON_CODE, CAR_TON
				FROM (
					SELECT B.ORDER_ID, SELL_CUST_ID, TT.VEHIC_ID, TT.CAR_TON_CODE,
						CAST(TT.DEFAULT_VALUE AS INT) * 1.1 AS CAR_TON
					FROM (
						SELECT ORDER_ID, CAR_TON_CODE, VEHIC_ID, BBB.DEFAULT_VALUE  
						FROM dbo.T_ORDER_ALLOC AAA
							 INNER JOIN
							(SELECT CODE, DEFAULT_VALUE 
							 FROM T_CODE 
							 WHERE GCODE = 'CAR_TON_CD' AND FILTER2='TON') BBB ON AAA.CAR_TON_CODE = BBB.CODE
						WHERE ALLOC_STATE IN ('01', '04', '05')) TT
						INNER JOIN 
						T_ORDER_ALLOC B ON TT.ORDER_ID = B.ORDER_ID 
					WHERE 
						NOT B.SELL_CUST_ID IS NULL 
					) BB
				JOIN (
					SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE, GOODS_WEIGHT, CAR_TON_CODE
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
						AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				) A
				ON A.ORDER_ID = BB.ORDER_ID	
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(MONTH, ALLOC_DATE), SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_LOAD AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   TON_CODE,      CNT, SUM_LOAD, SUM_TON, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE,  CNT, SUM_LOAD, SUM_CAR, T_RATE);
	END
	
	ELSE IF @Q_BY = 'YEAR'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'YEAR' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(YEAR, ALLOC_DATE)  Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
					, COUNT(*) AS CNT, SUM(GOODS_WEIGHT) SUM_LOAD, SUM(CAR_TON) SUM_CAR
					, (
						CAST(
								SUM(GOODS_WEIGHT) / (
								SUM(CAR_TON)
							) * 100 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM (
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, VEHIC_ID, A.CAR_TON_CODE, CAR_TON
				FROM (
					SELECT B.ORDER_ID, SELL_CUST_ID, TT.VEHIC_ID, TT.CAR_TON_CODE,
						CAST(TT.DEFAULT_VALUE AS INT) * 1.1 AS CAR_TON
					FROM (
						SELECT ORDER_ID, CAR_TON_CODE, VEHIC_ID, BBB.DEFAULT_VALUE  
						FROM dbo.T_ORDER_ALLOC AAA
							 INNER JOIN
							(SELECT CODE, DEFAULT_VALUE 
							 FROM T_CODE 
							 WHERE GCODE = 'CAR_TON_CD' AND FILTER2='TON') BBB ON AAA.CAR_TON_CODE = BBB.CODE
						WHERE ALLOC_STATE IN ('01', '04', '05')) TT
						INNER JOIN 
						T_ORDER_ALLOC B ON TT.ORDER_ID = B.ORDER_ID 
					WHERE 
						NOT B.SELL_CUST_ID IS NULL 
					) BB
				JOIN (
					SELECT ORDER_ID, ALLOC_DATE, ORDER_STATE, GOODS_WEIGHT, CAR_TON_CODE
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
						AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				) A
				ON A.ORDER_ID = BB.ORDER_ID	
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(YEAR, ALLOC_DATE), SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_LOAD AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   TON_CODE,      CNT, SUM_LOAD, SUM_TON, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CAR_TON_CODE,  CNT, SUM_LOAD, SUM_CAR, T_RATE);
	END
END	
GO
