USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_ANAL_CHARGE]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SCH_ANAL_CHARGE]
(
	@stdDate	NVARCHAR(10)
)
AS 
BEGIN
	INSERT INTO T_ANAL_CHARGE (CUST_ID, ALLOC_DATE, S_SIDO, S_GUNGU, E_SIDO, E_GUNGU, CAR_CONTRACT_CODE, CAR_TYPE_NAME, 
						CAR_TON_CODE, ITEM_CODE, DANGER_GOODS_YN, CHEMICALS_YN, FOREIGN_LICENSE_YN, WEIGHT_TYPE_CODE,
						ARRIVAL_TIME_CODE, ALLOC_CHARGE, ALLOC_TIME, S_WAITING_TIME, E_WAITING_TIME, ORDER_ID)
	SELECT  A.CUST_ID, CONVERT(VARCHAR(14), A.ALLOC_DATE, 112) ALLOC_DATE, S_SIDO, 
		   (SELECT TOP 1 VALUE FROM STRING_SPLIT(A.S_GUNGU, ' ')) S_GUNGU, E_SIDO, 
		   (SELECT TOP 1 VALUE FROM STRING_SPLIT(A.E_GUNGU, ' ')) E_GUNGU, C.CAR_CONTRACT_CODE ,
			(SELECT FILTER2 FROM T_CODE WHERE GCODE = 'CAR_TYPE_CD' AND CODE = B.CAR_TYPE_CODE) CAR_TYPE_NAME,
			(SELECT FILTER3 FROM T_CODE WHERE GCODE = 'CAR_TON_CD' AND CODE = B.CAR_TON_CODE) CAR_TON_NAME,
			 A.ITEM_CODE, 'N' DANGER_GOODS_YN , 'N' CHEMICALS_YN, 'N' FOREIGN_LICENSE_YN,
			CASE WHEN D.FILTER3 = '20FT' THEN 
				CASE WHEN A.GOODS_WEIGHT < 15200 THEN '01' WHEN A.GOODS_WEIGHT > 20000 THEN '03' ELSE '02' END 
			WHEN D.FILTER3 = '40FT' THEN 
				CASE WHEN A.GOODS_WEIGHT < 17600 THEN '01' WHEN A.GOODS_WEIGHT > 23000 THEN '03' ELSE '02' END
			ELSE 			
				CASE WHEN A.GOODS_WEIGHT / D.DEFAULT_VALUE > 1 THEN '03' WHEN A.GOODS_WEIGHT / D.DEFAULT_VALUE < 0.8 THEN '01' ELSE '02' END
			END	WEIGHT_TYPE_CODE,
			CASE WHEN  CONVERT(VARCHAR(14), A.S_DATE, 112) = CONVERT(VARCHAR(14), A.E_DATE, 112) THEN '01' ELSE '02' END ARRIVAL_TIME_CODE,
			B.ALLOC_CHARGE,
			DATEDIFF(MINUTE, A.REGDATE, A.ALLOC_DATE),
			DATEDIFF(MINUTE, A.ENTER_DATE, A.START_DATE), DATEDIFF(MINUTE, A.FINISH_DATE, A.LEAVE_DATE), A.ORDER_ID
	FROM T_ORDER A 
		 INNER JOIN 
		(SELECT ORDER_ID, SELL_CUST_ID, SELL_DEPT_ID, VEHIC_ID, DRIVER_ID, CAR_TYPE_CODE, CAR_TON_CODE, ALLOC_CHARGE
		 FROM T_ORDER_ALLOC 
		 WHERE ALLOC_STATE IN ('01', '04', '05', '12') AND ISNULL(CAR_TYPE_CODE, '') != '' AND ISNULL(CAR_TON_CODE, '') != '' AND ALLOC_CHARGE > 0) B ON A.ORDER_ID = B.ORDER_ID AND A.CUST_ID = B.SELL_CUST_ID AND A.DEPT_ID = B.SELL_DEPT_ID AND A.ORDER_STATE NOT IN ('00', '09')
		 INNER JOIN 
		 T_CUST_VEHIC C ON B.SELL_CUST_ID = C.CUST_ID AND B.SELL_DEPT_ID = C.DEPT_ID AND B.VEHIC_ID = C.VEHIC_ID AND B.DRIVER_ID = C.DRIVER_ID 
		 INNER JOIN 
		 (SELECT DEFAULT_VALUE, CODE, FILTER3 FROM T_CODE WHERE GCODE = 'CAR_TON_CD' AND USE_YN = 'Y') D ON A.CAR_TON_CODE = D.CODE	 
	WHERE A.ALLOC_DATE BETWEEN @stdDate AND @stdDate + ' 23:59:59'
	ORDER BY A.ALLOC_DATE ASC

END
GO
