USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORDER_OMS]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 화주용 오더 등록
CREATE PROCEDURE [dbo].[INSERT_ORDER_OMS]
(
	@mode			NVARCHAR(2)
  , @reqCustId		NVARCHAR(20)
  , @orderId		NVARCHAR(20)
  , @allocId		NVARCHAR(20)
  , @reqDeptId		NVARCHAR(20)
  , @inOutSctn		NVARCHAR(2)
  , @truckTypeCode	NVARCHAR(2)
  , @sComName		NVARCHAR(50)
  , @sSido			NVARCHAR(10)
  , @sGungu			NVARCHAR(20)
  , @sDong			NVARCHAR(20)
  , @sAddr			NVARCHAR(50)
  , @sAddrDetail	NVARCHAR(50)
  , @sDateDay		NVARCHAR(10)
  , @sDateTime		NVARCHAR(10)
  , @sStaff			NVARCHAR(20)
  , @sTel			NVARCHAR(13)
  , @sMemo			NVARCHAR(1000)  
  , @eComName		NVARCHAR(50)
  , @eSido			NVARCHAR(10)
  , @eGungu			NVARCHAR(20)
  , @eDong			NVARCHAR(20)
  , @eAddr			NVARCHAR(50)
  , @eAddrDetail	NVARCHAR(50)
  , @eDateDay		NVARCHAR(10)
  , @eDateTime		NVARCHAR(10)
  , @eStaff			NVARCHAR(20)
  , @eTel			NVARCHAR(13)
  , @eMemo			NVARCHAR(1000)
  , @sLat			DECIMAL(16,13)
  , @sLon			DECIMAL(16,12)
  , @eLat			DECIMAL(16,13)
  , @eLon			DECIMAL(16,12)
  , @goodsName		NVARCHAR(100)
  , @goodsWeight	NVARCHAR(10)
  , @weightUnitCode	NVARCHAR(20)
  , @goodsQty		INT  
  , @qtyUnitCode	NVARCHAR(20)
  , @sWayCode		NVARCHAR(20)
  , @eWayCode		NVARCHAR(20)
  , @mixYn			NVARCHAR(1)
  , @mixSize		NVARCHAR(20)
  , @returnYn		NVARCHAR(1)
  , @carTonCode		NVARCHAR(20)
  , @carTypeCode	NVARCHAR(20)
  , @distance		FLOAT
  , @time			INT
  , @reqMemo		NVARCHAR(1000)
  , @driverMemo		NVARCHAR(1000)
  , @itemCode		NVARCHAR(10)
  , @buyCharge		INT
  , @buyCustId		NVARCHAR(20)
  , @buyDeptId		NVARCHAR(20)
  , @buyStaffId		NVARCHAR(20)
  , @regId			NVARCHAR(20)
  , @dangerGoodsYn	NVARCHAR(2)
  , @chemicalsYn	NVARCHAR(2)
  , @foreignLicenseYn NVARCHAR(2)
  , @buyAllocId		NVARCHAR(20)	OUTPUT
  , @sellOutAllocId	NVARCHAR(20)	OUTPUT
  , @retId			NVARCHAR(20)	OUTPUT
  , @retCode		NVARCHAR(2)		OUTPUT
  , @retMsg			NVARCHAR(200)	OUTPUT
)
AS 
BEGIN
	DECLARE @RET_OK 	NVARCHAR(2) = '00'		-- 성공
	DECLARE @RET_ERR 	NVARCHAR(2) = '99'		-- Error
	DECLARE @timestamp	NVARCHAR(14) = ''
	DECLARE @staffId 	NVARCHAR(20);
	DECLARE @staffTel	NVARCHAR(13);
  	DECLARE @reqTel		NVARCHAR(13);
  	DECLARE @sDate		NVARCHAR(20);
  	DECLARE @eDate		NVARCHAR(20);
	DECLARE @oldOrderId	NVARCHAR(20);	

	SET @timestamp = convert(varchar, getDate(), 112) + replace(convert(varchar, getDate(), 108), ':', '')
	SET @sDate = CONVERT(CHAR(10),@sDateDay, 23) +' '+ CONVERT(CHAR(10),@sDateTime, 24)
	SET @eDate = CONVERT(CHAR(10),@eDateDay, 23) +' '+ CONVERT(CHAR(10),@eDateTime, 24)
	
	DECLARE @spRet		INT
	DECLARE @spMsg		NVARCHAR(200)
	DECLARE @spId1		NVARCHAR(20)
	DECLARE @spId2		NVARCHAR(20)	
	DECLARE @seq		VARCHAR(20)
	
	DECLARE @finishCnt	INT
	
	SELECT @staffId = MANAGER 
	FROM T_CUST_DTL 
	WHERE CUST_ID = @reqCustId AND DEPT_ID = @reqDeptId AND MNG_CUST_ID = @buyCustId AND MNG_DEPT_ID = @buyDeptId 
		 AND SELL_BUY_SCTN = '01' AND USE_YN = 'Y';
	
	IF ISNULL(@staffId, '') <> ''
	BEGIN
		SELECT @staffTel = MOBILE
		from T_USER 
		where USER_ID = @staffId;
	END	
	
	SELECT @reqTel = MOBILE
	FROM T_USER 
	WHERE USER_ID = @regId
		
	IF @mode = 'N'
		BEGIN
			SELECT @seq = NEXT VALUE FOR SEQ_ORDER;
			SET @orderId = 'O'+ @timestamp  + RIGHT('00' + @seq, 3);
			
			INSERT INTO T_ORDER (
				ORDER_ID,				REQ_CUST_ID,			REQ_DEPT_ID,
				REQ_STAFF_ID,			REQ_TEL,				IN_OUT_SCTN,			
				TRUCK_TYPE_CODE,		S_COM_NAME,				S_SIDO,
				S_GUNGU,				S_DONG,					S_ADDR,
				S_ADDR_DETAIL,			S_DATE,					S_STAFF,
				S_TEL,					S_MEMO,					E_COM_NAME,
				E_SIDO,					E_GUNGU,				E_DONG,
				E_ADDR,					E_ADDR_DETAIL,			E_DATE,
				E_STAFF,				E_TEL,					E_MEMO,
				S_LAT,					S_LON,					E_LAT,
				E_LON,					GOODS_NAME,				GOODS_WEIGHT,
				WEIGHT_UNIT_CODE,		GOODS_QTY,				QTY_UNIT_CODE,
				S_WAY_CODE,				E_WAY_CODE,				MIX_YN,
				MIX_SIZE,				RETURN_YN,				CAR_TON_CODE,
				CAR_TYPE_CODE,			DISTANCE,				[TIME],
				REQ_MEMO,				DRIVER_MEMO,			ITEM_CODE,
				REGID,					REGDATE,				CUST_ID,
				DEPT_ID,				DANGER_GOODS_YN,		CHEMICALS_YN,
				FOREIGN_LICENSE_YN)
			VALUES (
				@orderId,				@reqCustId,				@reqDeptId,
				@regId,					@reqTel,				@inOutSctn,
				@truckTypeCode,			@sComName,				@sSido,
				@sGungu,				@sDong,					@sAddr,
				@sAddrDetail,			@sDate,					@sStaff,
				@sTel,					@sMemo,					@eComName,
				@eSido,					@eGungu,				@eDong,
				@eAddr,					@eAddrDetail,			@eDate,
				@eStaff,				@eTel,					@eMemo,
				ISNULL(@sLat,0),		ISNULL(@sLon,0),		ISNULL(@eLat,0),
				ISNULL(@eLon,0),		@goodsName,				CONVERT(float,@goodsWeight) * 1000,
				@weightUnitCode,		@goodsQty,				@qtyUnitCode,
				@sWayCode,				@eWayCode,				ISNULL(@mixYn,'N'),
				@mixSize,				ISNULL(@returnYn,'N'),	@carTonCode,
				@carTypeCode,			@distance,				@time,
				@reqMemo,				@driverMemo,			@itemCode,
				@regId,					GETDATE(),				@buyCustId,
				@buyDeptId,				ISNULL(@dangerGoodsYn,'N'),	ISNULL(@chemicalsYn,'N'),
				ISNULL(@foreignLicenseYn,'N'));
			
			-- 매출처 배차 등록/수정
			EXEC UPDATE_ORDER_ALLOC @orderId, @allocId, @reqCustId, @reqDeptId, @regId, @reqTel
			         			  , @buyCustId, @buyDeptId, @staffId, @staffTel, @buyCharge, NULL
			         			  , NULL, NULL, NULL, NULL, NULL
			         			  , NULL, NULL, @regId, NULL, NULL, NULL, NULL, @spId1  OUTPUT, @spMsg OUTPUT;
			         			 
			SELECT @sellOutAllocId = ALLOC_ID
			FROM T_ORDER_ALLOC
			WHERE ORDER_ID = @orderId AND SELL_CUST_ID = @reqCustId AND SELL_DEPT_ID = @reqDeptId;
		
	    	set @retCode = @RET_OK;
		 	set @retMsg = '오더가 등록되었습니다.';
		END
	IF @mode = 'E'
		BEGIN	
			SELECT @finishCnt = COUNT(1)
			FROM T_CALC 
			WHERE ORDER_ID = @orderId AND USE_YN = 'Y' AND FINISH_YN = 'Y'
			
			IF @finishCnt = 0
			BEGIN
				UPDATE T_ORDER 
				SET		
					REQ_STAFF_ID = @regId,
					REQ_TEL = @reqTel,
					IN_OUT_SCTN = @inOutSctn,		
					TRUCK_TYPE_CODE = @truckTypeCode,
					S_COM_NAME = @sComName,		
					S_SIDO = @sSido,		
					S_GUNGU = @sGungu,
					S_DONG = @sDong,		
					S_ADDR = @sAddr,		
					S_ADDR_DETAIL = @sAddrDetail,
					S_DATE = @sDate,		
					S_STAFF = @sStaff,		
					S_TEL = @sTel,
					S_MEMO = @sMemo,		
					E_COM_NAME = @eComName,		
					E_SIDO = @eSido,
					E_GUNGU = @eGungu,		
					E_DONG = @eDong,			
					E_ADDR = @eAddr,
					E_ADDR_DETAIL = @eAddrDetail,		
					E_DATE = @eDate,			
					E_STAFF = @eStaff,
					E_TEL = @eTel,		
					E_MEMO = @eMemo,			
					S_LAT = ISNULL(@sLat,0),
					S_LON = ISNULL(@sLon,0),		
					E_LAT = ISNULL(@eLat,0),		
					E_LON = ISNULL(@eLon,0),
					GOODS_NAME = @goodsName,		
					GOODS_WEIGHT = CONVERT(float,@goodsWeight) * 1000,	
					WEIGHT_UNIT_CODE = @weightUnitCode,
					GOODS_QTY = @goodsQty,			
					QTY_UNIT_CODE = @qtyUnitCode,		
					S_WAY_CODE = @sWayCode,
					E_WAY_CODE = @eWayCode,		
					MIX_YN = ISNULL(@mixYn,'N'),		
					MIX_SIZE = @mixSize,
					RETURN_YN = ISNULL(@returnYn,'N'),		 
					CAR_TON_CODE = @carTonCode,		
					CAR_TYPE_CODE = @carTypeCode,
					DISTANCE = @distance,		
					[TIME] = @time,
					REQ_MEMO = @reqMemo,		
					DRIVER_MEMO = @driverMemo,		
					ITEM_CODE = @itemCode,
					EDITID = @regId,			
					EDITDATE = GETDATE(),
					DANGER_GOODS_YN = ISNULL(@dangerGoodsYn,'N'),
					CHEMICALS_YN = ISNULL(@chemicalsYn,'N'),
					FOREIGN_LICENSE_YN = ISNULL(@foreignLicenseYn,'N')
				WHERE 
					ORDER_ID = @orderId;

				
				-- 매출처 배차 등록/수정
				EXEC UPDATE_ORDER_ALLOC @orderId, @allocId, @reqCustId, @reqDeptId, @regid, @reqTel
									  , @buyCustId, @buyDeptId, @staffId, @staffTel, @buyCharge, NULL
			         			  	  , NULL, NULL, NULL, NULL, NULL
			         			  	  , NULL, NULL, @regId, NULL, NULL, NULL, NULL, @spId1  OUTPUT, @spMsg OUTPUT;
				
				SELECT @buyAllocId = ALLOC_ID
				FROM T_ORDER_ALLOC
				WHERE ORDER_ID = @orderId AND SELL_CUST_ID = @buyCustId AND SELL_DEPT_ID = @buyDeptId;
			
				SELECT @sellOutAllocId = ALLOC_ID
				FROM T_ORDER_ALLOC
				WHERE ORDER_ID = @orderId AND SELL_CUST_ID = @reqCustId AND SELL_DEPT_ID = @reqDeptId;
			
		    	set @retCode = @RET_OK
			    set @retMsg = '오더가 수정되었습니다.'
				
			END
			ELSE 
			BEGIN 
				set @retCode = @RET_ERR
			    set @retMsg = '이미 마감된 정산 내역이 있어 오더를 수정할 수 없습니다.'
			END
			
		END
	IF @mode = 'C'
		BEGIN
			SET @oldOrderId = @orderId
			
			SELECT @seq = NEXT VALUE FOR SEQ_ORDER;
			SET @orderId = 'O'+@timestamp  + RIGHT('00' + @seq, 3)
			-- 오더 복사시 상/하차시간 현재 시간으로 복사(2021-11-25)
			INSERT INTO T_ORDER (
				ORDER_ID,				REQ_CUST_ID,			REQ_DEPT_ID,
				REQ_STAFF_ID,			REQ_TEL,				IN_OUT_SCTN,			
				TRUCK_TYPE_CODE,		S_COM_NAME,				S_SIDO,
				S_GUNGU,				S_DONG,					S_ADDR,
				S_ADDR_DETAIL,			S_DATE,					S_STAFF,
				S_TEL,					S_MEMO,					E_COM_NAME,
				E_SIDO,					E_GUNGU,				E_DONG,
				E_ADDR,					E_ADDR_DETAIL,			E_DATE,
				E_STAFF,				E_TEL,					E_MEMO,
				S_LAT,					S_LON,					E_LAT,
				E_LON,					GOODS_NAME,				GOODS_WEIGHT,
				WEIGHT_UNIT_CODE,		GOODS_QTY,				QTY_UNIT_CODE,
				S_WAY_CODE,				E_WAY_CODE,				MIX_YN,
				MIX_SIZE,				RETURN_YN,				CAR_TON_CODE,
				CAR_TYPE_CODE,			DISTANCE,				[TIME],
				REQ_MEMO,				DRIVER_MEMO,			ITEM_CODE,
				REGID,					REGDATE,				CUST_ID,
				DEPT_ID,				DANGER_GOODS_YN,		CHEMICALS_YN,
				FOREIGN_LICENSE_YN)
			VALUES (
				@orderId,				@reqCustId,				@reqDeptId,
				@regId,					@reqTel,				@inOutSctn,
				@truckTypeCode,			@sComName,				@sSido,
				@sGungu,				@sDong,					@sAddr,
				@sAddrDetail,			@sDate,					@sStaff,
				@sTel,					@sMemo,					@eComName,
				@eSido,					@eGungu,				@eDong,
				@eAddr,					@eAddrDetail,			@eDate,
				@eStaff,				@eTel,					@eMemo,
				ISNULL(@sLat,0),		ISNULL(@sLon,0),		ISNULL(@eLat,0),
				ISNULL(@eLon,0),		@goodsName,				CONVERT(float,@goodsWeight) * 1000,
				@weightUnitCode,		@goodsQty,				@qtyUnitCode,
				@sWayCode,				@eWayCode,				ISNULL(@mixYn,'N'),
				@mixSize,				ISNULL(@returnYn,'N'),	@carTonCode,
				@carTypeCode,			@distance,				@time,
				@reqMemo,				@driverMemo,			@itemCode,
				@regId,					GETDATE(),				@buyCustId,
				@buyDeptId,				ISNULL(@dangerGoodsYn,'N'),	ISNULL(@chemicalsYn,'N'),
				ISNULL(@foreignLicenseYn,'N'));
			
			INSERT INTO T_ORDER_STOP(
				   ORDER_ID, 			STOP_NO, 			E_COM_NAME, 
				   E_ADDR, 				E_ADDR_DETAIL, 		E_STAFF, 
				   E_TEL, 				FINISH_YN,			FINISH_DATE, 
				   GOODS_WEIGHT, 		E_LAT,				E_LON,
				   WEIGHT_UNIT_CODE, 	GOODS_QTY,			QTY_UNIT_CODE,
				   GOODS_NAME, 			USE_YN,				REGDATE,
				   REGID, 				STOP_SE)
			SELECT @orderId, 			STOP_NO, 			E_COM_NAME, 
				   E_ADDR, 				E_ADDR_DETAIL, 		E_STAFF, 
				   E_TEL, 				'N',				NULL, 
				   GOODS_WEIGHT, 		E_LAT,				E_LON,
				   WEIGHT_UNIT_CODE, 	GOODS_QTY,			QTY_UNIT_CODE,
				   GOODS_NAME, 			USE_YN,				GETDATE(),
				   @regId, 				STOP_SE 
			FROM T_ORDER_STOP 
			WHERE ORDER_ID = @oldOrderId AND USE_YN = 'Y';
		
			-- 매출처 배차 등록/수정
			EXEC UPDATE_ORDER_ALLOC @orderId, NULL, @reqCustId, @reqDeptId, NULL, @reqTel
			         			  , @buyCustId, @buyDeptId, @staffId, @staffTel, @buyCharge, NULL
			         			  , NULL, NULL, NULL, NULL, NULL
			         			  , NULL, NULL, @regId, NULL, NULL, NULL, NULL, @spId1  OUTPUT, @spMsg OUTPUT;
			
			         			 
			SELECT @sellOutAllocId = ALLOC_ID
			FROM T_ORDER_ALLOC
			WHERE ORDER_ID = @orderId AND SELL_CUST_ID = @reqCustId AND SELL_DEPT_ID = @reqDeptId;
			
			--주선사, 운송사에게 알림톡 발송
			--EXEC INSERT_SMS_SEND 'ORDERNOTI', @orderId, @sellOutAllocId, '', '', '00000000000000';
		
	    	set @retCode = @RET_OK
		    set @retMsg = '오더를 복사했습니다.'
		END
	set @retId = @orderId	
END	
GO
