USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_STAT_ENTER]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**
 * 입차준수율 통계
 * 일간/주간/월간/연간 별로 스케줄러에서 작동
 */
CREATE PROCEDURE [dbo].[SCH_STAT_ENTER]
(
	@Q_BY		VARCHAR(20)
)
AS 

DECLARE @STARTDATE 	VARCHAR(10)
DECLARE @ENDDATE   	VARCHAR(10)
DECLARE @Q_TIME		VARCHAR(10)

BEGIN
	
	SELECT @STARTDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) - 5
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(m,-1, DATEADD(d,-day(GETDATE())+1,GETDATE()))
			WHEN @Q_BY = 'YEAR' THEN DATEADD(YY, DATEDIFF(YY, 0, GETDATE()) - 1, 0)
		END;
	
	SELECT @ENDDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) + 1
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(d,-day(GETDATE()),GETDATE())
			WHEN @Q_BY = 'YEAR' THEN DATEADD(dd, -1, DATEADD(YY, DATEDIFF(YY, 0, GETDATE()), 0))
		END;	
	
	IF @Q_BY = 'DAY' 
	BEGIN		
		WITH W1 AS 
		(
			SELECT 'DAY' Q_BY, DATEPART(YEAR, ENTER_DATE) YEAR, CONVERT(VARCHAR(10), ENTER_DATE,112) Q_TIME, SELL_CUST_ID, VEHIC_ID, COUNT(*) AS CNT, AVG(DIF) AS T_AVG, (AVG(DIF) - 120) AS T_OVER
					, (100 - 
						CAST(
							(AVG(DIF) - 120) / (
								30	
							) * 10 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM ( 
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, VEHIC_ID, I_DATE, ENTER_DATE, DATEDIFF(MI, I_DATE, ENTER_DATE) AS DIF
				FROM (
					SELECT TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID 
					FROM (
						SELECT ORDER_ID, VEHIC_ID 
						FROM dbo.T_ORDER_ALLOC 
						WHERE ALLOC_STATE IN ('01', '04', '05') 
						GROUP BY ORDER_ID, VEHIC_ID	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID 
					GROUP BY TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID) BB
				JOIN (
					SELECT *
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
					) A
					ON A.ORDER_ID = BB.ORDER_ID	
				WHERE 		ENTER_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
							AND ENTER_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
				AND   NOT SELL_CUST_ID IS NULL 
				AND   NOT I_DATE       IS NULL
				AND   NOT ENTER_DATE   IS NULL
			  ) T
			GROUP BY DATEPART(YEAR, ENTER_DATE), CONVERT(VARCHAR(10),ENTER_DATE,112), SELL_CUST_ID, VEHIC_ID
		)
		MERGE
			INTO    T_STAT_ENTER AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   CNT, AVG_TIME, OVER_TIME, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CNT, T_AVG,    T_OVER,    T_RATE);
	END
	
	ELSE IF @Q_BY = 'WEEK'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'WEEK' Q_BY, DATEPART(YEAR, ENTER_DATE) YEAR, DATEPART(WEEK, ENTER_DATE) Q_TIME, SELL_CUST_ID, VEHIC_ID, COUNT(*) AS CNT, AVG(DIF) AS T_AVG, (AVG(DIF) - 120) AS T_OVER
					, (100 - 
						CAST(
							(AVG(DIF) - 120) / (
								30	
							) * 10 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM ( 
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, VEHIC_ID, I_DATE, ENTER_DATE, DATEDIFF(MI, I_DATE, ENTER_DATE) AS DIF
				FROM (
					SELECT TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID 
					FROM (
						SELECT ORDER_ID, VEHIC_ID 
						FROM dbo.T_ORDER_ALLOC 
						WHERE ALLOC_STATE IN ('01', '04', '05') 
						GROUP BY ORDER_ID, VEHIC_ID	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID 
					GROUP BY TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID) BB
				JOIN (
					SELECT *
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
					) A
					ON A.ORDER_ID = BB.ORDER_ID	
				    WHERE		ENTER_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
							AND ENTER_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
							AND   NOT SELL_CUST_ID IS NULL 
							AND   NOT I_DATE       IS NULL
						AND   NOT ENTER_DATE   IS NULL
			  ) T
			GROUP BY DATEPART(YEAR, ENTER_DATE), DATEPART(WEEK, ENTER_DATE), SELL_CUST_ID, VEHIC_ID
		)
		MERGE
			INTO    T_STAT_ENTER AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   CNT, AVG_TIME, OVER_TIME, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CNT, T_AVG,    T_OVER,    T_RATE);
	END
	
	ELSE IF @Q_BY = 'MONTH'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'MONTH' Q_BY, DATEPART(YEAR, ENTER_DATE) YEAR, DATEPART(MONTH, ENTER_DATE) Q_TIME, SELL_CUST_ID, VEHIC_ID, COUNT(*) AS CNT, AVG(DIF) AS T_AVG, (AVG(DIF) - 120) AS T_OVER
					, (100 - 
						CAST(
							(AVG(DIF) - 120) / (
								30	
							) * 10 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM ( 
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, VEHIC_ID, I_DATE, ENTER_DATE, DATEDIFF(MI, I_DATE, ENTER_DATE) AS DIF
				FROM (
					SELECT TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID 
					FROM (
						SELECT ORDER_ID, VEHIC_ID 
						FROM dbo.T_ORDER_ALLOC 
						WHERE ALLOC_STATE IN ('01', '04', '05') 
						GROUP BY ORDER_ID, VEHIC_ID	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID 
					GROUP BY TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID) BB
				JOIN (
					SELECT *
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
					) A
					ON A.ORDER_ID = BB.ORDER_ID	
				    WHERE    ENTER_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
							AND ENTER_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
							AND   NOT SELL_CUST_ID IS NULL 
							AND   NOT I_DATE       IS NULL
							AND   NOT ENTER_DATE   IS NULL
			  ) T
			GROUP BY DATEPART(YEAR, ENTER_DATE), DATEPART(MONTH, ENTER_DATE), SELL_CUST_ID, VEHIC_ID
		)
		MERGE
			INTO    T_STAT_ENTER AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   CNT, AVG_TIME, OVER_TIME, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CNT, T_AVG,    T_OVER,    T_RATE);
	END
	
	ELSE IF @Q_BY = 'YEAR'
	BEGIN
		WITH W1 AS 
		(
			SELECT 'YEAR' Q_BY, DATEPART(YEAR, ENTER_DATE) YEAR, DATEPART(YEAR, ENTER_DATE) Q_TIME, SELL_CUST_ID, VEHIC_ID, COUNT(*) AS CNT, AVG(DIF) AS T_AVG, (AVG(DIF) - 120) AS T_OVER
					, (100 - 
						CAST(
							(AVG(DIF) - 120) / (
								30	
							) * 10 AS DECIMAL(6,1)	
						)
					   ) AS T_RATE
			FROM ( 
				SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, VEHIC_ID, I_DATE, ENTER_DATE, DATEDIFF(MI, I_DATE, ENTER_DATE) AS DIF
				FROM (
					SELECT TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID 
					FROM (
						SELECT ORDER_ID, VEHIC_ID 
						FROM dbo.T_ORDER_ALLOC 
						WHERE ALLOC_STATE IN ('01', '04', '05') 
						GROUP BY ORDER_ID, VEHIC_ID	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID 
					GROUP BY TT.ORDER_ID, TT.VEHIC_ID, B.SELL_CUST_ID) BB
				JOIN (
					SELECT *
					FROM dbo.T_ORDER
					WHERE ORDER_STATE IN ('01', '04', '05')
					) A
					ON A.ORDER_ID = BB.ORDER_ID	
				    WHERE    ENTER_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
							AND ENTER_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
							AND   NOT SELL_CUST_ID IS NULL 
							AND   NOT I_DATE       IS NULL
							AND   NOT ENTER_DATE   IS NULL
			  ) T
			GROUP BY DATEPART(YEAR, ENTER_DATE), DATEPART(YEAR, ENTER_DATE), SELL_CUST_ID, VEHIC_ID
		)
		MERGE
			INTO    T_STAT_ENTER AS STAT
			USING   W1
			ON          STAT.Q_BY     = W1.Q_BY
					AND STAT.YEAR     = W1.YEAR
					AND STAT.Q_TIME   = W1.Q_TIME
					AND STAT.CUST_ID  = W1.SELL_CUST_ID
					AND STAT.CAR_ID   = W1.VEHIC_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      CAR_ID,   CNT, AVG_TIME, OVER_TIME, RATE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, VEHIC_ID, CNT, T_AVG,    T_OVER,    T_RATE);
	END
END	
GO
