USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TAX_MODIFY]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 수정세금계산서 발행
CREATE PROCEDURE [dbo].[INSERT_TAX_MODIFY](
	  @oriInvId			NVARCHAR(20)
	, @writeDate		NVARCHAR(20)
    , @regId            NVARCHAR(20)
    , @retCode		    NVARCHAR(2)		OUTPUT
    , @retMsg		    NVARCHAR(200)	OUTPUT
)
AS 
BEGIN
	
	DECLARE @RET_OK 	NVARCHAR(2) = '00'		-- 성공
	DECLARE @RET_ERR 	VARCHAR(2) = '99'		-- Error
    DECLARE @invId    NVARCHAR(20)
	DECLARE @timestamp	NVARCHAR(14) = ''
    DECLARE @taxsNum    NVARCHAR(24) = ''
    DECLARE @issueId    NVARCHAR(24) = ''
    DECLARE @issueDate  NVARCHAR(14) = ''
    DECLARE @regDate    DATETIME
    DECLARE @docClass	CHAR(2)		 = '02'		--수정세금계산서
    DECLARE @amendment	CHAR(2)		 = '04'		--수정코드 (04 : 계약의 해제)
	
	DECLARE @seq		INT
    DECLARE @mesgId		NVARCHAR(36)
			
    SET @regDate = getDate()
    SET @timestamp = convert(varchar, @regDate, 112) + replace(convert(varchar, @regDate, 108), ':', '')
    SELECT @seq = NEXT VALUE FOR SEQ_TAX_INVOICE;
    SET @invId = 'I' + @timestamp + FORMAT(CONVERT(int, RIGHT(@seq, 3)), '000')
   	SET @taxsNum = @writeDate + '41000008fux' + FORMAT(CONVERT(int, RIGHT(@seq, 5)), '00000') --real
    SET @issueDate = @timestamp
    SET @issueId = @taxsNum
    
	SELECT @mesgId = 'LOGISLINK_' + convert(varchar, getdate(), 112) + replace(convert(varchar, getdate(), 108), ':', '') + FORMAT(CONVERT(int, RIGHT(@seq, 4)), '0000')
	
    INSERT INTO T_TAX_INVOICE (
        INV_ID, BILL_KIND, DOC_ATTR, PUBTYPE, 
        ISSUE_DATE, ISSUE_ID, DOC_CLASS, DOC_TYPE, 
        REMARKS, REMARKS2, REMARKS3, WRITE_DATE, 
        AMENDMENT, PUBFORM, ORI_ISSUE_ID, SUPPLIER_CUST_ID, 
        SUPPLIER_DEPT_ID, SUPPLIER_BIZ_NO, SUPPLIER_BIZ_TYPE, SUPPLIER_BIZ_NAME, 
        SUPPLIER_BIZ_CLASS, SUPPLIER_BIZ_SUBNO, SUPPLIER_CEO, SUPPLIER_MEM_DEPT, 
        SUPPLIER_MEM_NAME, SUPPLIER_MEM_TEL, SUPPLIER_MEM_EMAIL, 
        SUPPLIER_ADDR, SUPPLIER_VEHIC_ID, SUPPLIER_DRIVER_ID, 
        BUYER_CUST_ID, BUYER_DEPT_ID, BUYER_BIZ_NO, BUYER_BIZ_TYPE, 
        BUYER_BIZ_NAME, BUYER_BIZ_CLASS, BUYER_BIZ_SUBNO, BUYER_BIZ_NO_TYPE, 
        BUYER_CEO, BUYER_MEM_DEPT, BUYER_MEM_NAME, BUYER_MEM_TEL, 
        BUYER_MEM_EMAIL, BUYER_ADDR, BROKER_CUST_ID, BROKER_DEPT_ID, 
        BROKER_BIZ_NO, BROKER_BIZ_TYPE, BROKER_BIZ_NAME, BROKER_BIZ_CLASS, 
		BROKER_BIZ_SUBNO, BROKER_CEO, BROKER_MEM_DEPT, BROKER_MEM_NAME, 
        BROKER_MEM_EMAIL, BROKER_MEM_TEL, BROKER_ADDR, 
        CASH, CHEQUE, BILL, OUTSTAND, SUPPRICE, TAX, TOT_PRICE, 
        LOADSTATUS, SMS, REGDATE, REG_ID, MNG_CUST_ID, MNG_DEPT_ID, 
        MNG_DRIVER_ID, MNG_VEHIC_ID, USE_YN
    )
    SELECT 
    	@invId, BILL_KIND, DOC_ATTR, PUBTYPE,
    	ISSUE_DATE, @issueId, @docClass, DOC_TYPE,
    	REMARKS, REMARKS2, REMARKS3, WRITE_DATE, 
    	@amendment, pubform, ISSUE_ID,  SUPPLIER_CUST_ID, 
        SUPPLIER_DEPT_ID, SUPPLIER_BIZ_NO, SUPPLIER_BIZ_TYPE, SUPPLIER_BIZ_NAME, 
        SUPPLIER_BIZ_CLASS, SUPPLIER_BIZ_SUBNO, SUPPLIER_CEO, SUPPLIER_MEM_DEPT, 
        SUPPLIER_MEM_NAME, SUPPLIER_MEM_TEL, SUPPLIER_MEM_EMAIL, 
        SUPPLIER_ADDR, SUPPLIER_VEHIC_ID, SUPPLIER_DRIVER_ID, 
        BUYER_CUST_ID, BUYER_DEPT_ID, BUYER_BIZ_NO, BUYER_BIZ_TYPE, 
        BUYER_BIZ_NAME, BUYER_BIZ_CLASS, BUYER_BIZ_SUBNO, BUYER_BIZ_NO_TYPE, 
        BUYER_CEO, BUYER_MEM_DEPT, BUYER_MEM_NAME, BUYER_MEM_TEL, 
        BUYER_MEM_EMAIL, BUYER_ADDR, BROKER_CUST_ID, BROKER_DEPT_ID, 
        BROKER_BIZ_NO, BROKER_BIZ_TYPE, BROKER_BIZ_NAME, BROKER_BIZ_CLASS, 
		BROKER_BIZ_SUBNO, BROKER_CEO, BROKER_MEM_DEPT, BROKER_MEM_NAME, 
        BROKER_MEM_EMAIL, BROKER_MEM_TEL, BROKER_ADDR, 
        CASH, CHEQUE, BILL, OUTSTAND, SUPPRICE * (-1), TAX * (-1), TOT_PRICE * (-1), 
        LOADSTATUS, SMS, REGDATE, REG_ID, MNG_CUST_ID, MNG_DEPT_ID, 
        MNG_DRIVER_ID, MNG_VEHIC_ID, 'N'		-- 수정세금계산서는 USE_YN : N 으로 저장하여 앱에서 노출되지 않게 한다.
    FROM T_TAX_INVOICE 
    WHERE INV_ID = @oriInvId;
   
	INSERT INTO T_TAX_ITEM (
   		INV_ID, SEQ, ITEM_REMARKS, ITEM_SUPPRICE, ITEM_QTY,
   		ITEM_NAME, ITEM_DATE, ITEM_TAX, ITEM_PRICE,
   		ORDER_ID, ALLOC_ID
   	)
   	SELECT 
   		@invId, SEQ, ITEM_REMARKS, ITEM_SUPPRICE * (-1), ITEM_QTY,
   		ITEM_NAME, ITEM_DATE, ITEM_TAX * (-1), ITEM_PRICE * (-1),
   		ORDER_ID, ALLOC_ID
   	FROM 
   		T_TAX_ITEM
   	WHERE 
   		INV_ID = @oriInvId;
   	
   	
	INSERT INTO T_TAX_MONITOR 
				(
					INV_ID			, MESG_ID		, SIGNAL		, SUPPLIER_CUST_ID	, SUPPLIER_BIZ_NO 
				  ,	BUYER_CUST_ID	, BUYER_BIZ_NO	, CONVER_ID		, MODULE			, RESULT		
				  , STATUS			, REGDATE		, PUB_DATE
				)
	SELECT			
					INV_ID		  	, @mesgId		, 'ARISSUE'		, SUPPLIER_DRIVER_ID, SUPPLIER_BIZ_NO 
				  , BUYER_CUST_ID 	, BUYER_BIZ_NO 	
				  , SUPPLIER_BIZ_NO + BUYER_BIZ_NO + convert(varchar, getdate(), 112) + FORMAT(CONVERT(int, RIGHT(@seq, 4)), '0000') + '006'
				  , 'L'			  	, 'N'
				  , NULL			, getdate()  	, NULL
	FROM
				T_TAX_INVOICE 
	WHERE 	
				INV_ID = @invId;
			
    set @retCode = @RET_OK
    set @retMsg = '수정세금계산서가 발행되었습니다.'
		
END
GO
