USE [logislink]
GO
/****** Object:  StoredProcedure [dbo].[SCH_STAT_CHARGE]    Script Date: 2022-07-14 오후 6:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**
 * 운송비 통계
 * 일간/주간/월간/연간 별로 스케줄러에서 작동
 */
CREATE PROCEDURE [dbo].[SCH_STAT_CHARGE]
(
	@Q_BY		VARCHAR(20)
)
AS 

DECLARE @STARTDATE 	VARCHAR(10)
DECLARE @ENDDATE   	VARCHAR(10)
DECLARE @Q_TIME		VARCHAR(10)

BEGIN
	
	SELECT @STARTDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) - 5
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(m,-1, DATEADD(d,-day(GETDATE())+1,GETDATE()))
			WHEN @Q_BY = 'YEAR' THEN DATEADD(YY, DATEDIFF(YY, 0, GETDATE()) - 1, 0)
		END;
	
	SELECT @ENDDATE = 
		CASE 
			WHEN @Q_BY = 'DAY' THEN DATEADD(DAY,-1, GETDATE())
			WHEN @Q_BY = 'WEEK' THEN GETDATE() - DATEPART(dw, GETDATE()) + 1
			WHEN @Q_BY = 'MONTH' THEN  DATEADD(d,-day(GETDATE()),GETDATE())
			WHEN @Q_BY = 'YEAR' THEN DATEADD(dd, -1, DATEADD(YY, DATEDIFF(YY, 0, GETDATE()), 0))
		END;	
	
	IF @Q_BY = 'DAY' 
	BEGIN		
		WITH T1 AS 
		(
			SELECT 'DAY' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, CONVERT(VARCHAR(10), ALLOC_DATE,112) Q_TIME, SELL_CUST_ID, CAR_TON_CODE
				, COUNT(*) AS CNT, SUM(ALLOC_CHARGE) SUM_CHARGE
			FROM (
			SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, A.CAR_TON_CODE,  ALLOC_CHARGE
				FROM (
					SELECT TT.ORDER_ID, SELL_CUST_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, ISNULL(ALLOC_CHARGE, 0) ALLOC_CHARGE
					FROM (
							SELECT ORDER_ID, CAR_TON_CODE 
							FROM dbo.T_ORDER_ALLOC 
							WHERE ALLOC_STATE IN ('01', '04', '05') 
							GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID AND NOT SELL_CUST_ID IS NULL 
					GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID, ALLOC_CHARGE) BB
				JOIN dbo.T_ORDER A
					ON A.ORDER_ID = BB.ORDER_ID		
				WHERE A.CAR_TON_CODE IS NOT NULL
					AND ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
					    AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'				
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), CONVERT(VARCHAR(10),ALLOC_DATE,112), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_CHARGE AS STAT
			USING   T1
			ON          STAT.Q_BY     = T1.Q_BY
					AND STAT.YEAR     = T1.YEAR
					AND STAT.Q_TIME   = T1.Q_TIME
					AND STAT.CUST_ID  = T1.SELL_CUST_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      TON_CODE,     CNT, SUM_CHARGE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, CAR_TON_CODE, CNT, SUM_CHARGE);
	END
	
	ELSE IF @Q_BY = 'WEEK'
	BEGIN
		WITH T1 AS 
		(
			SELECT 'WEEK' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(WEEK, ALLOC_DATE) Q_TIME, SELL_CUST_ID, CAR_TON_CODE
				, COUNT(*) AS CNT, SUM(ALLOC_CHARGE) SUM_CHARGE
			FROM (
			SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, A.CAR_TON_CODE,  ALLOC_CHARGE
				FROM (
					SELECT TT.ORDER_ID, SELL_CUST_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, ISNULL(ALLOC_CHARGE, 0) ALLOC_CHARGE
					FROM (
							SELECT ORDER_ID, CAR_TON_CODE 
							FROM dbo.T_ORDER_ALLOC 
							WHERE ALLOC_STATE IN ('01', '04', '05') 
							GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID AND NOT SELL_CUST_ID IS NULL 
					GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID, ALLOC_CHARGE) BB
				JOIN dbo.T_ORDER A
					ON A.ORDER_ID = BB.ORDER_ID		
					WHERE	
							ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
						AND A.CAR_TON_CODE IS NOT NULL
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(WEEK, ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_CHARGE AS STAT
			USING   T1
			ON          STAT.Q_BY     = T1.Q_BY
					AND STAT.YEAR     = T1.YEAR
					AND STAT.Q_TIME   = T1.Q_TIME
					AND STAT.CUST_ID  = T1.SELL_CUST_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      TON_CODE,     CNT, SUM_CHARGE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, CAR_TON_CODE, CNT, SUM_CHARGE);
	END
	
	ELSE IF @Q_BY = 'MONTH'
	BEGIN
		WITH T1 AS 
		(
			SELECT 'MONTH' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(MONTH, ALLOC_DATE) Q_TIME, SELL_CUST_ID, CAR_TON_CODE
				, COUNT(*) AS CNT, SUM(ALLOC_CHARGE) SUM_CHARGE
			FROM (
			SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, A.CAR_TON_CODE,  ALLOC_CHARGE
				FROM (
					SELECT TT.ORDER_ID, SELL_CUST_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, ISNULL(ALLOC_CHARGE, 0) ALLOC_CHARGE
					FROM (
							SELECT ORDER_ID, CAR_TON_CODE 
							FROM dbo.T_ORDER_ALLOC 
							WHERE ALLOC_STATE IN ('01', '04', '05') 
							GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID AND NOT SELL_CUST_ID IS NULL 
					GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID, ALLOC_CHARGE) BB
				JOIN dbo.T_ORDER A
					ON A.ORDER_ID = BB.ORDER_ID		
					WHERE	
						A.CAR_TON_CODE IS NOT NULL
						AND	ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
		
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(MONTH, ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_CHARGE AS STAT
			USING   T1
			ON          STAT.Q_BY     = T1.Q_BY
					AND STAT.YEAR     = T1.YEAR
					AND STAT.Q_TIME   = T1.Q_TIME
					AND STAT.CUST_ID  = T1.SELL_CUST_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      TON_CODE,     CNT, SUM_CHARGE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, CAR_TON_CODE, CNT, SUM_CHARGE);
	END
	
	ELSE IF @Q_BY = 'YEAR'
	BEGIN
		WITH T1 AS 
		(
			SELECT 'YEAR' Q_BY, DATEPART(YEAR, ALLOC_DATE) YEAR, DATEPART(YEAR, ALLOC_DATE) Q_TIME, SELL_CUST_ID, CAR_TON_CODE
				, COUNT(*) AS CNT, SUM(ALLOC_CHARGE) SUM_CHARGE
			FROM (
			SELECT A.ORDER_ID, ALLOC_DATE, SELL_CUST_ID, GOODS_WEIGHT, A.CAR_TON_CODE,  ALLOC_CHARGE
				FROM (
					SELECT TT.ORDER_ID, SELL_CUST_ID, ISNULL(TT.CAR_TON_CODE, '') CAR_TON_CODE, ISNULL(ALLOC_CHARGE, 0) ALLOC_CHARGE
					FROM (
							SELECT ORDER_ID, CAR_TON_CODE 
							FROM dbo.T_ORDER_ALLOC 
							WHERE ALLOC_STATE IN ('01', '04', '05') 
							GROUP BY ORDER_ID, CAR_TON_CODE	) TT, dbo.T_ORDER_ALLOC B 
					WHERE TT.ORDER_ID = B.ORDER_ID AND NOT SELL_CUST_ID IS NULL 
					GROUP BY TT.ORDER_ID, TT.CAR_TON_CODE, B.SELL_CUST_ID, ALLOC_CHARGE) BB
				JOIN dbo.T_ORDER A
					ON A.ORDER_ID = BB.ORDER_ID		
					WHERE	
						A.CAR_TON_CODE IS NOT NULL
						AND	ALLOC_DATE >= CONVERT(VARCHAR(10), @STARTDATE, 120)
						AND ALLOC_DATE <= CONVERT(VARCHAR(10), @ENDDATE, 120) + ' 23:59:59'
		
			) T
			GROUP BY DATEPART(YEAR, ALLOC_DATE), DATEPART(YEAR, ALLOC_DATE), SELL_CUST_ID, CAR_TON_CODE
		)
		MERGE
			INTO    T_STAT_CHARGE AS STAT
			USING   T1
			ON          STAT.Q_BY     = T1.Q_BY
					AND STAT.YEAR     = T1.YEAR
					AND STAT.Q_TIME   = T1.Q_TIME
					AND STAT.CUST_ID  = T1.SELL_CUST_ID
		WHEN NOT MATCHED THEN
			INSERT (Q_BY, YEAR, Q_TIME, CUST_ID,      TON_CODE,     CNT, SUM_CHARGE)
			VALUES (Q_BY, YEAR, Q_TIME, SELL_CUST_ID, CAR_TON_CODE, CNT, SUM_CHARGE);	
	END
END	
GO
