* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fz16 {
    font-size: 16px;
}






body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    color: #222A31;
    height: 100vh;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.header {
    width: calc(100% - 207px);
    height:100vh;
    position: absolute;
    top: 0;
    left: 207px;
    background-color: #fff;
    display: inline-block;
    z-index: 100;
    padding: 0px 25px;
    box-sizing: border-box;
    transition: 0.2s;
}

.hdr-tit p {
    font-size: 24px;
    color: #1c54c4;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.f-wrap {
    width: 100%;
}

/* .contents {
    margin-left: 207px;
    padding: 30px;
    height: calc(100% - 150.99px);
    background-color: #EDF0F2;
    margin-top: 91px;
} */

.cont-head {}

.summary {
    border-bottom: 1px solid#E2E4E5;
}

input,
button {
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
}

.box {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
}

label {
    font-size: 16px;
    font-weight: 300;
}

input {
    text-indent: 10px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

button {
    cursor: pointer;
}

/* popup position */

.pop-layer {
	width: 540px;
    background-color: #fff;
}

.insert_pop {
    position: absolute;
    left: 207px;
    z-index: 1000;
    width: 540px;
    height: 100%;
}


/* kendo add */
.k-tabstrip>.k-content {
    overflow-y: auto;
    overflow-x: hidden;
    border: 0;
    padding: 35px 20px 10px 30px;
    margin: 0px;
}

.k-grid-content table td {
    color: #222A31;
}

.k-grid-header table th {
    color: #222A31;
}

.k-grid-header.kgh-bg {
    background-color: #E2E4E5;
    background-image: none;
}

.k-pager-wrap.kgh-bg {
    background-color: #E2E4E5;
}


.k-grid-content.scroll-no {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.k-grid-content.scroll-no::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.k-grid-content table td {
    border-bottom: 1px solid #D1D1D1;
}

.k-grid-header th {
    background-color: #E2E4E5;
    font-size: 15px;
    color: #000;
}

/*
.k-dropdown-wrap .k-clear-value {
	top : 14px;
}
 */

.tables .k-tr {
    border-bottom: 1px solid #eee;
}

.tables .k-tr:hover {
    background-color: #EDF1F3;
}

.k-no-i::before {
    position: absolute;
    top: -13px;
    left: -2px;
    width: 15px;
    height: 15px;
}

/* 상단 검색란 input */

.com-input {
    width: 300px!important;
}

.com-sel {
    width: 100px;
}


#loading {
    height: 100%;
    left: 0px;
    position: fixed;
    _position:absolute;
    top: 0px;
    width: 100%;
    /*filter:alpha(opacity=30);
    -moz-opacity:0.3;
    opacity : 0.3;
    background-color: black;*/
    z-index: 199;
}

#loading .spinner-border {
    position:absolute;
    top: 50%;
    margin-top : -1rem;
    /*z-index:1000;*/
}

/* 22.07.15 이건욱 그리드 개인화 설정 */
.privateRightPanel {
    width: 50%;
    height: 70%;
    position: fixed;
    border: 1px solid #797474;
    right: 0;
    bottom: 2%;
    background: rgb(11 11 11/ 90%);
    z-index: 999;
    color: white;
    overflow-y: scroll;
}

.privateClosePanel {
    width: 50%;
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 72%;
    background: #495057;
    padding: 6px;
    font-size: 0.8rem;
    border: 1px solid gray;
    cursor: pointer;
}

.privateTbl input[type=number] {
    width: 70px;
    height: 26px;
    font-size: 13px;
}
.privateTbl select {
    width: 70px;
    height: 26px;
    font-size: 10px;
}

.privateTbl > thead th {
    background: #eee;
    color: black;
    padding: 10px;
    border-right: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 99;
}

.privateTbl > tbody td {
    background: #6c757d;
    padding: 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}

.k-grid-content-sticky {
    background: white;
}

.pNone {
    display: none;
}
/* 22.07.15 이건욱 그리드 개인화 설정 -> End */
