.side-nav {
    width: 207px;
    display: inline-block;
    min-height: 100vh; 
    background: linear-gradient(0deg, #0cb3ea -10%, #1c54c4);
    border-radius: 0 30px 0 0;
    /* overflow:hidden; */
    z-index: 2000;
    position:relative;
}

.nav {
    width: 207px;
    display: inline-block;
    height: 100%;
    overflow: scroll;
    padding: 63px 0px 0px 0px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.nav .side-nav-ul a.dropBtn{
	font-size: 14px;
    color: #fff;
    cursor: pointer;
    letter-spacing: -0.05em;
}

.nav .side-nav-ul .sub-li-wrap a{
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    letter-spacing: -0.05em;
    position: relative;
}

.nav .side-nav-ul .sub-li-wrap a::after{
	/* content: ' '; */
	display: block;
	width: 100%;
	height: 2px;
	background-color: red;
	
}

.nav .side-nav-ul li {
    text-align: left;
    margin-top: 10px;
    list-style: none;
}

.nav .side-nav-ul li:first-of-type{
	margin-top: 0px;
}

.nav .side-nav-ul span {
    display: block;
    padding: 10px 24px 10px 20px;
    position: relative;
}

/* .nav .side-nav-ul span::after{
	content: ' ';
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	background: url(/images/icon/icon_left_dev.png) no-repeat;
	background-position: -3px -152px;
	cursor: pointer;
} */

.nav .side-nav-ul span.arrow-up::after{
	content: ' ';
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	background: url(/images/icon/icon_left_dev.png) no-repeat;
	transform: translateY(-50%) rotate(180deg);
	background-position: -3px -152px;
	cursor: pointer;
	background-color: red;
}

#leftMenu {
    min-height:501px;
}

.logo-title {
    width:108px;
    height: auto;
    margin:20px 0px 0px 24px;
}

.sub-li-wrap {
    padding: 15px 10px 15px 60px;
    background-color: #3976d7;
    display: none;
}

.line {
    border-bottom: 1px solid #8098B1;
    margin: 10px;
    width: 206px;
    margin-left: -30px;
    padding-top: 30px;
    margin-bottom: 30px
}

.sub-li a {
    display: block;
}

.nav-li > span > a {
    box-sizing: border-box;
    padding: 0px 0px 0px 10px;
}

.info-btn > div > a {
    font-size: 14px;
    color: #fff;
}

.justify {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.justify:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.mem-info-wrapper {
    width: 90%;
    height: 150px;
    padding: 20px 10px;
    background-color: #0055cc;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #00a1e8;
    box-sizing: border-box;
}

.mem-info {
	
}

.mem-info::after{
	content: '';
	clear: both;
	display: block;
}

.mem-info > * {
    font-size: 14px;
    color: #fff;
}

.mem-info > .manager-role{
    display: inline-block;
    margin-top: -4px;
    position: absolute;
    margin-left: 65px;
    font-size: 18px;
    font-weight: bold;
}

.mem-info > .manager-name{
    display: inline-block;
    margin: -4px 0 0 10px;
    position: absolute;
    text-align: left;
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
}

.mem-info >  .carrier-name {
    display: inline;
    margin: 22px 0 0 10px;
    position: absolute;
    width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}

.mem-info > .mem-info-box > .mem-setpage {
    width:auto;
    font-size:12px;
    margin: 5px 0 0 0px;
    display: inline-block;
}

.mem-info > .mem-info-box > .mem-setpage i::before{
    content: '';
    position: absolute;
    margin: -1px 0 0 0px;
    width: 18px;
    height: 18px;
    background: url(/images/icon/icon_left_dev.png) no-repeat;
    background-position: -3px -136px;

}


.mem-info > .mem-info-box > .mem-setting i::before{
    content: '';
    position: absolute;
    margin: 0px 0 0 -3px;
    width: 18px;
    height: 18px;
    background: url(/images/icon/icon_left_dev.png) no-repeat;
    background-position-y: -288px;
    background-size: auto;
}

.mem-info > .mem-info-box > .mem-setting {
    width: auto;
    display: flex;
    position: absolute;
    top: -3px;
    cursor: pointer;
    right: 0;
    align-items: center;
}

.setting-text {
    margin-left: 4px;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.setting-text:hover {
    text-decoration-line: underline;
}
.setpage-text {
    margin-left: 4px;
    font-size: 12px;
    position: relative;
    top: -1px;
}

.mem-info-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.mem-info-box > .col-width50 {
    position: relative;
    width:50%;
}

.nav-li.backColor{
    background-color: #1f65d1;
}

.justify > a > img {
    padding-left: 9px
}

a.dropBtn {
    margin-left: -10px;
}

.nav-li > span > .dropBtn > img {
    /*    	padding-right: 9px;*/
    width: 15px;
    height: 15px;
    margin-right:15px;
}

#leftMenu span.side-nav-img{
	width: 21px; 
	height: 21px;
    background-image: url(/images/icon/icon_left_dev.png);
    background-position: 0px 0px;
    display: inline-block;
    padding: 0px;
    top: 5px;
    margin-right: 17px;
}

#leftMenu div.side-nav-ul:nth-of-type(2) span.side-nav-img{
	background-position: 0px -19px;
}

#leftMenu div.side-nav-ul:nth-of-type(3) span.side-nav-img{
	background-position: 0px -37px;
}

#leftMenu div.side-nav-ul:nth-of-type(4) span.side-nav-img{
	background-position: 0px -57px;
}

#leftMenu div.side-nav-ul:nth-of-type(5) span.side-nav-img{
	background-position: 0px -76px;
}

#leftMenu div.side-nav-ul:nth-of-type(6) span.side-nav-img{
	background-position: 0px -95px;
}

.side-logout {
    position: relative;
    top: -5px;
}

.side-logout-link {
    font-size:12px;
    color:#ffffff;
	margin-left: 25px;
}

.side-logout-link:hover{
	color:#fff;
}


