@media screen and (max-width: 1170px) {
    .i-1 {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .i-2 {
        display: none;
    }

    .mi {
        width: 324px;
        flex: 1;
    }
}