.row {margin: 0px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl, .col-xl-auto {
    padding: 0.1em;
}
/*
form {
    font-size: 0.8rem;
}
 */
fieldset {
    padding: 5px;
    border: 1px solid #888;
}

legend {
    width: auto;
    padding: 0px 0px;
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
}

textarea {
    box-sizing: border-box !important;
}

label.col-form-label {
    width: 100px;
}

form i {
    margin: 0px;
}

/*table*/
table {
    font-size: 0.8rem;
}

table th,
table td {
    white-space: nowrap;
    vertical-align: middle;
}

th {
    background: #ddd;
    text-align: center !important;
}

tfoot th {
    text-align: left;
}

.tables input[type=checkbox],
.grid input[type=radio] {
    height: auto;
}

.tables .k-button {
    margin: 0px;
}

.middle-button {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
}

.middle-button:hover {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
}

.middle-button:focus {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
}

.middle-button-dark {
    background: #495057;
    color:#fff;
    border-radius: 4px;
    border:1px solid #495057;
    box-shadow: 0px 0px 2px 0px;
}

.middle-button-dark:hover {
    background: #495057;
    color:#fff;
    border-radius: 4px;
    border:1px solid #495057;
    box-shadow: 0px 0px 2px 0px;
}

.middle-button-dark:focus {
    background: #495057;
    color:#fff;
    border-radius: 4px;
    border:1px solid #495057;
    box-shadow: 0px 0px 2px 0px;
}

.wrap {
    font-size: 0;
}
/*
.k-wrap {
	padding-top: 28px;
}
 */
.btn-row{
    float: right;
}

.k-grid {
    width: 100%;
}

.k-grid-content table td {
    color: #222A31;
}

.k-grid-header table th {
    color: #222A31;
}

.form-check.form-check-inline {
    align-items: center;
    display: inline-block;
}

.contents label {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

.contents input, .contents select, .contents option {
    height: 40px;
    width: 100%;
}

.box {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
}

.box h2 {
    font-size: 18px;
    color: #000;
}

.cont-head {
    padding-bottom: 73px;
}

.form-group div label {
    display: block;
    text-align: left;
}

.k-grid-header.kgh-bg {
    background-color: #E2E4E5;
    background-image: none;
}

.k-pager-wrap.kgh-bg {
    background-color: #E2E4E5;
}

.k-grid-header {

}

.k-grid-content.scroll-no {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.k-grid-content.scroll-no::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.k-grid-content table td {
    border-bottom: 1px solid #D1D1D1;
}

.k-grid-header th {
    background-color: #E2E4E5;
    font-size: 12px;
    padding: 2px;
    color: #000;
}

.tables .k-tr {
    border-bottom: 1px solid #eee;
}

.tables .k-tr:hover {
    background-color: #EDF1F3;
}

.k-no-i::before {
    position: absolute;
    top: -13px;
    left: -2px;
    width: 15px;
    height: 15px;
}

.summary {
    border-bottom: 1px solid #E2E4E5;
}

.contents {
    padding: 10px;
    margin: 0 auto;
    background-color: #EDF0F2;
}

html.k-webkit.k-webkit90 {
    background-color: #EDF0F2;
}


.k-grid-content table td {
    color: #222A31;
    text-align: center;
}

.k-grid-header table th {
    color: #222A31;
}

.contents label {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
}

.box {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    width: 100%;
}

.box h2 {
    font-size: 18px;
    color: #000;
}

.form-group .add_btn button {
    padding: 9px 30px;
    margin-top: 32px;
    background-color: #0A8DFF;
    color: #fff;
    font-weight: 500;
    border: 0;
    margin-right: 10px;
}

.padding {
    padding: 0.3em;
}

/* grid selected 색상 변경 */
.k-grid td.k-state-selected, .k-grid tr.k-state-selected>td {
    background-color: #ff7c0a;
}

.k-grid td.k-state-focused {
    box-shadow: none;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused {
    box-shadow: none;
}

.cont-wrapper.block {
    margin-left: 540px;
    transition-duration: 1s;
}

.cont-wrapper{
    margin-left: 0px;
    transition-duration: 1s;
}

.cont-wrapper-page-grid{
    margin-left: 0px;
    transition-duration: 1s;
    padding: 0px 5px 0px;
    background-color: #fff;
}

.cont-wrapper-page-grid.block{
    margin-left: 600px;
    transition-duration: 1s;
    padding: 10px;
    background-color: #fff;
}

.insert_pop.block {
    margin-left: 207px;
    left: 0px;
    position:absolute;
    top:0px;
    transition-duration: 1s;
}

.insert_pop {
    left: -393px;
    top:0px;
    position:absolute;
    transition-duration: 1s;
}

fieldset {
    border: 0px solid;
}

.input_span a {
    line-height: 28px;
    color: #000;
}

.input_on-off {
    display: none;
}

.label_on-off {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background-color: #ed4956;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.label_on-off > * {
    vertical-align: sub;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 12px;
}

.label_on-off .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.label_on-off .on {
    display: none;
    padding-left: 10px;
    vertical-align: top;
}

.label_on-off .off {
    padding-left: 25px;
    vertical-align: top;
}

.input_on-off:checked + .label_on-off {
    background-color: #0bba82;
}

.input_on-off:checked + .label_on-off .on {
    display: inline-block;
}

.input_on-off:checked + .label_on-off .off {
    display: none;
}

.input_on-off:checked + .label_on-off .marble {
    left: 33px;
}

.modalEditor > .modalHeader {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}

.modalEditor > .modalHeader > strong {
    font-size: 14px;
    padding-right: 16px
}

.modalEditor > .editor_btns {
    padding-top: 31px;
    text-align: center;
}

.modalEditor > .editor_btns > #closeBtn {
    margin-left: 16px;
}

.big-name {
    color: #b2b9c4;
    font-weight: bold;
    font-size: 17px;
    align-self: center;
}

.modal-big-name {
    color: #b2b9c4;
    font-weight: bold;
    font-size: 17px;
}

.middle-name {
    display: inline-block;
}

div#layer1 {
    height: 100vh;
    overflow-y: auto;
}

.textarea {
    resize: none;
}

.input_span {
    position: absolute;
    top: 30px;
    right: 0;
}

.i-name {
    align-self: center;
}

.btn-name{
    display: grid;
}

.radio-or-checkBox {
    display: contents;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.radio-or-checkBox > .label-margin {
    align-self: flex-end;
    margin: 0.3em;
    padding-bottom: 5px;
}

.radio-or-checkBox > .label-margin > input {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.radio-or-checkBox > .label-margin > span{
    font-weight: initial;
}

.textBox-in-icon {
    display: flex;
    position: relative;
}

.textBox-in-icon > i {
    position: absolute;
    top: 50.5%;
    transform: translateY(-50%);
    right: -4%;
    margin-right: 0.5em;
}

.textBox-in-icon > i > img{
    width: 31px;
    cursor: pointer;
}

.textBox-in-icon > input {
    padding-right: 2em;
}

/* validator */
.list-unstyled {
    color: red;
    font-size: xx-small;
    text-align: center;
}

/* 필수값 표시 */
.required::before {
    content:"* ";color:#ff0000;font-weight:bold;
}

/* form 안에있는 button -> a */
.a-text-center{
    text-align: center;
}

/* 버튼 css */
.btn-b {
    color: #0A8DFF;
}

.btn-g {
    color: #858585;
}

.btn-h {
    color: #ff7c0a;
}

.btn-x{
    color: #008d62;
}

.btn-r {
    color: #e54524;
}

.btn-s {
    background: #fff !important;
    border-radius: 4px !important;
    box-shadow: 0px 0px 2px 0px !important;
    color: #0A8DFF !important;
    font-weight: bolder !important;
}

.padding > .k-button {
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
    margin: 0.3em;
}

.searchInputBox {
    height: 40px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
    margin: 0.3em;
}

.searchSelectBox {
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
    margin: 0.3em;
}

/* 체크박스 */
.radio-or-checkBox input[type="checkbox"]{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0;
}

.radio-or-checkBox input[type="checkbox"] + label{
    display:inline-block;
    position:relative;
    padding-left:26px;
    cursor:pointer;
}

.radio-or-checkBox input[type="checkbox"] + label:before{
    content:'';
    position:absolute;
    left:0;
    top:3px;
    width: 15px;
    height: 15px;
    text-align:center;
    background:#fff;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius: 10px;
}

.radio-or-checkBox input[type="checkbox"]:checked + label:after{
    content: '';
    position:absolute;
    top:3px;
    left:0;
    width: 15px;
    height: 15px;
    background-image: url('/images/icon/chk_btn.png');
    border-radius: 5px;
    background-size: 15px;
}

.insert-label {
    align-self: center;
    padding-bottom: 0;
    margin-bottom: -16px;
}

/* 권한관리 별도 설정 */
.auth-radio-or-checkBox input[type="checkbox"]{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0;
}

.auth-radio-or-checkBox input[type="checkbox"] + label{
    display:inline-block;
    position:relative;
    padding-left:13px;
    cursor:pointer;
}

.auth-radio-or-checkBox input[type="checkbox"] + label:before{
    content:'';
    position:absolute;
    left:0;
    top:4px;
    width: 13px;
    height: 13px;
    text-align:center;
    background:#fff;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius: 10px;
}

.auth-radio-or-checkBox input[type="checkbox"]:checked + label:after{
    content: '';
    position:absolute;
    top:4px;
    left:0;
    width: 13px;
    height: 13px;
    background-image: url('/images/icon/chk_btn.png');
    border-radius: 10px;
    background-size: 13px;
}

/* 라디오버튼 */
.radio-or-checkBox input[type="radio"]{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0;
}

.radio-or-checkBox input[type="radio"] + label{
    display:inline-block;
    position:relative;
    padding-left:25px;
    cursor:pointer;
}

.radio-or-checkBox input[type="radio"] + label:before{
    content:
    '';
    position:
    absolute;
    left:0; top:3px;
    width: 15px;
    height: 15px;
    text-align:
    center;
    background:#fff;
    border:1px solid #ccc;
    box-sizing:
    border-box;
    border-radius: 10px;
}

.radio-or-checkBox input[type="radio"]:disabled + label:before{
    content:'';
    position:absolute;
    left:0; top:3px;
    width:20px;
    height:20px;
    text-align:center;
    background:#E3E3E3;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius: 10px;

}

.radio-or-checkBox input[type="radio"]:checked + label:after{
    content: '';
    position:
    absolute;
    top:3px; left:0;
    width: 15px;
    height: 15px;
    background-image: url('/images/icon/radio_btn.png');
    border-radius: 10px;
    background-size: 15px;
}

/* 날짜버튼 설정 */
.date-bnt{
    display: contents;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline !important;
    padding: 3.5px 0.75em;
    color: #fff;
    font-size: inherit;
    vertical-align: middle;
    background-color: #002b57;
    cursor: pointer;
    border-radius: .25em;
    height: 31px;
}

.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    vertical-align: middle;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 31px;
    background-color: #fff;
    color: #313131;
    text-align: left;
}

.inputHidden {
    display: none;
}

/* insert X 버튼 */
.insertClose {
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    left: calc(90%);
    transition-duration: 0.5s;
    transition-delay: 0.8s;
}

.insertClose.block {
    position: absolute;
    left: calc(100%);
    background: #002b57;
    color: white;
}

.insertCloseButton {
    cursor: pointer;
    font-size: 30px;
}

.k-grid {
    FONT-VARIANT: JIS04;
    max-width: 100%;
    max-height: 100%;
}

.div-min-col-1{
    min-width: 90px;
}

.middle-name strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* 통계 툴팁 마우스 클릭 안되게 */
.k-tooltip{
    pointer-events : none;
}

/* readonly 투명 배경 */
.noColorReadonly {
    background-color: #ffffff00 !important;
}

/* 열기, 접기 버튼 */
.openCloseBtn{
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: smaller;
    background: #fff !important;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px;
    color: #0A8DFF !important;
    height: 20px;
}

/* 열기, 접기 부분 */
.openCloseDiv{
    display: none;
}

.big-name-div{
    width: 100px;
    font-size: initial;
}

.addr-text-box {
    font-size: 0.75rem !important;
    height: 1.875rem !important;
}

.form-group{
    margin-bottom: 0;
}

.k-tooltip-content {
    text-align: center;
    pointer-events: none;
}
/* toolbar
.toolbar>* {
    margin: 0px;
    font-size: 0.9rem;
}

.toolbar {
    padding: 8px;
    background: #eae8e8;
    border: 1px solid #d5d5d5;
}

.toolbar .tool_group {
    margin-bottom: 2px;
    margin-right: 5px;
}

.toolbar .tool_group .tool_label {
    min-width: 70px;
    max-width: 100px;
    padding: 5px;
    background: #d5d5d5;
    font-size: 0.9rem;
}

.toolbar .tool_group input[type=text],
.toolbar .tool_group input[type=number],
.toolbar .tool_group select {
    width: 150px;
}

.toolbar .tool_group .form-check {
    padding: 5px 0px;
}

.toolbar .tool_group input[type=checkbox],
.toolbar .tool_group input[type=radio] {
    height: auto;
}

.extra_btns {
    padding: 8px;
    background: #ddd;
} */