@charset "UTF-8";

/* 공통 S */

/* width 값 조절 */
.wd58{
	width: 58px !important;
}

.wd70{
	width: 70px !important;
}

.wd80{
	width: 80px !important;
}

.wd90{
	width: 90px !important;
}

.wd100{
	width: 100px !important;
}

.wd110{
	width: 110px !important;
}

.wd120{
	width: 120px !important;
}

.wd130{
	width: 130px !important;
}

.wd140{
	width: 140px !important;
}
.wd150{
	width: 150px !important;
}

.wd160{
	width: 160px !important;
}

.wd170{
	width: 170px !important;
}

.wd175{
	width: 175px !important;
}

.wd190{
	width: 190px !important;
	
}
.wd220{
	width: 220px !important;

}

.max-wd190{
	max-width: 190px;
}

.wd200{
	width: 200px !important;
}

.wd210{
	width: 210px !important;
}

.wd228{
	width: 228px !important;
}

.wd240{
	width: 240px !important;
}

.wd260{
	width: 260px !important;
}

.wd270{
	width: 270px !important;
}

.wd275{
	width: 275px !important;
}

.wd285{
	width: 285px !important;
}

.wd290{
	width: 290px !important;
}

.wd310{
	width: 310px !important;
}

.wd330{
	width: 330px !important;
}

.wd340{
	width: 340px !important;
}

.wd360{
	width: 360px !important;
}

.wd370{
	width: 370px !important;
}

.wd405{
	width: 405px !important;
}

.wd415{
	width: 415px !important;
}

.wd420{
	width: 420px !important;
}

.wd1000{
	width: 1000px !important;
}

.wd230{
	width: 230px !important;
}


.hd100{
	height: 100px !important;
}

/* padding 값 조절 */
.p30 {
    padding: 8px;
}

.p0{
	padding: 0px !important;
}

.pt10{
	padding-top: 10px
}

.pt15{
	padding-top: 15px
}

.pt20{
	padding-top: 20px;
}

.pr8{
	padding-right: 8px
}

.pl8{
	padding-left: 8px
}

.pb05{
	padding-bottom: 5px; !important;
}

.pb10 {
    padding-bottom: 10px !important;;
}

.pb15 {
    padding-bottom: 15px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb50 {
    padding-bottom: 50px;
}

/* margin 값 조절 */


.mb10{
	margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt0{
	margin-top: 0px !important;
}

.mt5{
	margin-top: 5px !important;
}

.mt10{
	margin-top: 10px !important;
}

.mt15{
	margin-top: 15px;
}

.mt20{
	margin-top: 20px !important;;
}

.mt21{
	margin-top: 21px;
}

.mt30{
	margin-top: 30px !important;;
}

.mt77{
	margin-top: 77px !important;;
}

.mt80{
	margin-top: 80px !important;;
}

.mt100{
	margin-top: 100px !important;;
}

.mr0{
	margin-right: 0px !important;
}

.mr7{
	margin-right: 7px !important;
}

.mr10{
	margin-right: 10px !important;
}

.mr40{
	margin-right: 40px !important;
}

/* border 값  */
.bortop{
	border-top: 1px solid #dcdcdc;
}

/* 버튼  */
.btn_58{
	width: 58px !important;
	height: 26px !important;
	font-size: 12px;
}

.btn_75{
	width: 75px !important;
	height: 26px !important;
	font-size: 12px;
}

.btn_95{
	width: 95px !important;
	height: 26px !important;
	font-size: 12px;
}

.btn_100{
	width: 105px !important;
	height: 26px !important;
	font-size: 12px;
}

.btn_27h{
	width: 58px !important;
	height: 27px !important;
	font-size: 12px;
}

.btn_b{
	background-color: #2a5dc4 !important;
	color: #fff;
	padding: 4px 13px;
}

.btn_black{
	background-color: #3b3b3b !important;
	color: #fff !important;;
	padding: 4px 0px;
}

.btn_black_13{
	background-color: #3b3b3b !important;
	color: #fff !important;;
	padding: 4px 13px;
}


.btn_g{
	background-color: #fff !important;
	border: 1px solid #0cb175 !important;
	padding: 4px 0px;
}

.btn_green{
	background-color: #fff !important;
	border: 1px solid #0cb175 !important;
	color: #0cb175 !important;
	font-weight: bold;
	padding: 4px 0px;
}

/*버튼 Gray 테두리 설정*/
.btn_gra_tax{
	background-color: #fff !important;
	border: 1px solid #dddddd !important;
	color: #000000;
	font-size: 12px;
	padding: 4px 0px;
}



#groupCount .btn_g{
	background-color: #00a570 !important;;
	color: #fff;
	padding: 4px 13px;
}

#groupCount .btn_gray{
	background-color: #dcdcdc !important;;
	color: #626262 !important;;
	padding: 4px 13px;
}
.btn_b{
	background-color: #2a5dc4 !important;
	color: #fff;
	padding: 4px 13px;
}
/* 공통 E */

/* 사이드메뉴 S */
.side-nav-btn{
	width: 30px;
	height: 34px;
	position: absolute;
	top: 58px;
	right: -30px;
	background: url(/images/icon/icon_left_dev.png) no-repeat;
	background-position: 1px -166px;
	background-color: #003abc;
	border-radius: 0 30px 30px 0;
	font-size: 0px;
	box-shadow: 0px 3px 8px rgb(0 0 0 / 55%);
	cursor: pointer;
}/*접기버튼아이콘*/


.side-logout-link::before{
	content: '';
	position: absolute;
	margin: 3px 0 0 -23px;
	width: 18px;
	height: 18px;
	background: url(/images/icon/icon_left_dev.png) no-repeat;
	background-position: -3px -115px;
}/*로그아웃아이콘*/

.nav .side-nav-ul a.dropBtn::after{
	content:'';
	width: 18px;
	height: 18px;
	color: black;
	background: url(/images/icon/icon_left_dev.png);
	background-position: -2px -152px;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}/*메뉴 화살표 아이콘 접힘 */

.nav .side-nav-ul .nav-li.backColor a.dropBtn::after{
	content:'';
	width: 18px;
	height: 18px;
	color: black;
	background: url(/images/icon/icon_left_dev.png);
	background-position: -2px -152px;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%) rotate(180deg);
}/*메뉴 화살표 아이콘 열림 */

.nav .side-nav-ul .nav-li.backColor a.dropBtn-rr{
	content:'';
	width: 18px;
	height: 18px;
	color: black;
	background: url(/images/icon/icon_left_dev.png);
	background-position: -2px -152px;
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%) rotate(180deg);
}

.side-nav{
	transition: 0.2s;
}

.GnbMini{
	width: 90px !important;
	display: inline-block;
	min-height: 100vh;
	background-color: #002B57;
	overflow:hidden;
	z-index: 2000;
	position:relative;
}

.side-nav-atv{
	width: 90px !important;
}

.nav-atv{
	width: 90px;
	transition: 0.2s;
	padding: 45px 0 0 0;
}

.nav .side-nav-ul a.dropBtn-atv{
	display: none !important;
}/*접힌 메뉴 텍스트*/

.sub-li-wrap-atv{
	position: absolute !important;;
	left: 95px;
	width: 115px;
	margin-top: -30px;
	border-radius: 20px;
	padding: 15px 20px;
	border: 1px solid #8acdec;
	box-sizing: border-box;
	background-color: #0053cb;
	z-index: 99;
}

.sub-li-wrap-atv{
	display: none;
}

.nav ul.sub-li-wrap-atv li a{
	color: #fff;
	font-size: 12px;
}

.header-atv{
	width:calc(100% - 90px);
	left: 90px;
}

.logo-area .logo-title-atv{
	width: 64px;
	margin: 20px auto 0 auto;
	display: block;
}

.side-nav-btn-atv{
	transform: rotate(180deg);
	border-radius: 30px 0 0 30px;
	background-position: 5px -166px;
	box-shadow: 0px -3px 8px rgb(0 0 0 / 55%);
}

.nav .side-nav-ul span.side-nav-img-atv{
	padding: 3px 0px;
	width: 21px;
	display: block;
	margin: 3px auto;
} /*접힌메뉴 아이콘 작아짐*/

/*.nav-li.backColor-atv{
	width: 84% !important;
	background-color: transparent;
	cursor: pointer;
	margin: auto;
	background-color: red;
}*/

.nav-li.backColor-atv{
	background-color: transparent;
	background-color: red;
}

.side-nav-ul-atv{
	background-color: red;
}

.side-nav-atv .nav-li:hover{
	background-color: #3976d7;
	width: 84% !important;
	margin: 3px auto;
	border-radius: 15px;
	cursor: pointer;
}/*접힌 메뉴에서 아이콘 호버*/

.mem-info-wrapper-atv{
	width: 80%;
}

.side-logout-link-atv{
	font-size: 0px;
	width: 21px;
	height: 21px;
	margin: auto;
}

.side-logout-link-atv::before{
	width: 23px;
	height: 21px;
	background-position: -1px -145px;
	background-size: 26px;
	margin: auto;
}

.mem-info > .mem-setting-atv{
	width: 21px;
	height: 21px;
	margin: 10px auto 0 auto;
	display: block;
}

.mem-info > .mem-setting i.icon-mem-setting-atv::before{
	margin: auto;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 21px;
	height: 21px;
	background-position: -3px -168px;
	background-size: 26px;
}

.none-atv{
	display: none !important;
}

.mem-info .manager-profile{
    width: 43px;
    height: 47px;
    display: inline-block;
    position: relative;
    top: -16px;
    font-size: 0px !important;
    background: url(/images/icon/icon_profile.png) no-repeat;
}

.mem-info .manager-profile-atv{
	width: 37px;
	left: 50%;
	transform: translateX(-50%)
}

.cont-body-atv{
	height:calc(100vh - 330px);
}

/* 사이드메뉴 E */

/* 공통 S*/
.header{
	padding: 15px 25px 0px 25px;	
}

.hdr-tit{
	padding-bottom: 15px;
}

.summary{
	border-bottom: none;
	margin: 10px 0 0 0;
	padding: 0 0 2px 0;
	background-image: linear-gradient(#fff, #fff), 
    				  linear-gradient(to right, #0063d3 0%, #0dcbff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#groupCount i{
	font-style: initial;
	font-size: 14px;
	color: #3b3b3b;	
}

.btn_search button{
	width:100%;
	padding: 0px;
	border-radius: 4px;
	font-size: 12px;
}

#groupCount .btn_b{
	color: #fff;
}

/* 공통 E*/

#orderSimpleData #groupCount i{
	font-size: 12px;
	font-style: initial;
	border-radius: 20px;
}

.groupCount_cancle::after{
	content: '';
	width: 2px;
	height: 10px;
	background-color: #222222;
	margin-left: 25px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.groupCount_num{
	color:red;
}

.k-i-calendar::before{
	content: '';
	width: 16px;
	height: 16px;
	background: url(/images/icon/icon_left_dev.png);
	background-position:-3px -222px ;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}

.k-input, .k-textbox>input{
	font-size: 12px;
	letter-spacing: -0.07em;
}

.k-picker-wrap{
	border-radius: 0px;
}

.k-picker-wrap .k-icon{
	position: relative;
}

.k-datepicker .k-select, .k-datetimepicker .k-select, .k-timepicker .k-select{
	width: 26px;
	height: 25px;
	border-left: 1px solid #c5c5c5;
	box-sizing: border-box;
	background-color: red !important;
}

.p-input::placeholder{
	color: #6d6d6d;
}/*Placeholder 색 변경*/

.input-group.input-group-sm.col-1.middle-name.div-min-col-1{
	margin-right: 10px;
}

.k-autocomplete, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default,
.k-state-default>.k-select{
	background-color: #fff !important;
}

.cont-body .k-wrap{
	border-top: 1px solid #dcdcdc;
	margin-top: 15px;
	padding-top: 15px;
}

.lookup_table .toolbar.row{
	margin-bottom: 15px;
}

.k-grid-header .k-header>.k-link, .k-header, .k-treemap-title{
	background-color: #f6f6f6;
}

.k-i-arrow-end-left::before,
.k-i-arrow-60-left::before,
.k-i-arrow-60-right::before,
.k-i-arrow-end-right::before{
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background: url(/images/icon/icon_left_dev.png);
	background-position: -4px -247px;
	
}

.k-i-arrow-60-left::before{
	background-position: -4px -270px;
}

.k-i-arrow-60-right::before{
	background-position: -4px -270px;
	transform:translateY(-50%) translateX(-50%) rotate(180deg);
}

.k-i-arrow-end-right::before{
	background-position: -4px -247px;
	transform:translateY(-50%) translateX(-50%) rotate(180deg);
}

.k-state-disabled{
	opacity: 1;
}


.k-grid-pager{
	height: 38px;
}

.k-pager-wrap .k-link.k-state-disabled{
	border: none;
}

.div-min-col-1{
    margin-right: 10px;
}

.div-min-col-2{
	margin-right: 25px;
}

/* 오더수정 S */
#layer1::-webkit-scrollbar{
	display: none;
}

.pop-layer{
	box-shadow:5px 5px 5px rgb(0 31 92 / 15%);
	border-radius: 0 30px 30px 0;
}


.editor_box_w{
	padding: 20px 12px;
	margin: 5px 0 0 0;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.editor .col-form-label{
	padding: 0px;
}

.insert_pop-atv{
	left: -600px;
}

.m-side-nav-atv{
	margin-left: 90px !important;;
}

.k-tabstrip-wrapper{
	width: 500px;
}

.big-name{
	font-size: 14px;
}

.openCloseBtn{
	width: 80px;
	height: 26px;
}

.gray_box{
	margin: 5px 0;
	padding: 7px 8px;
	background-color: #f6f6f6;
	border-radius: 10px;
}

.gray_box_s{
	margin: 1px 0;
	padding: 15px 10px;
	background-color: #f6f6f6;
	border-radius: 10px;
}

.editor .form-group{
	margin: 0 10px 0 0;
}

.gray_box .k-combobox{
	width: 90px;
}

.gray_box .addr-text-box,
.gray_box .form-control-sm{
    height: 26px !important;
}

.middle-name strong{
	/*display: block;*/
	margin: 0 0 4px 0;
}

.radio-or-checkBox input[type="radio"] + label{
	font-size: 12px;
}

.editor_btns .padding{
	padding: 0px;
}

.editor_btns .padding > .k-button{
	width: 58px;
	height: 26px;
	background-color: #3b3b3b;
	margin:0px;
	border-radius: 7px;
	font-weight: 300;
}

.editor_btns .padding > .k-button strong,
.editor_btns .padding > .k-button b{
	color: #fff;
}

.order_editor_btns{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
}

.editor_btns .padding > #orderDelete{
	background-color: #dc3545;
}

.gray_box #cargoOpenClose span{
	font-size: 12px;
	margin-right: 7px
}

.gray_box  .openCloseBtn{
	margin: 22px 10px 0 0;
}

.pop-layer .radio-or-checkBox input[type="checkbox"] + label{
	padding-left: 20px;
}

.pop-layer .radio-or-checkBox input[type="checkbox"] + label:before{
	top: 7px;	
}

.pop-layer .radio-or-checkBox input[type="checkbox"]:checked + label:after{
	top: 7px;
}

.pop-layer .big-name-div{
	align-self: flex-start;
}

.pop-layer .km strong,
.pop-layer .time strong{
	position: relative;
	top: 5px;
	margin-right: 5px; 
}

.pop-layer .km strong,
.pop-layer .km input,
.pop-layer .time strong,
.pop-layer .time input{
	display: inline-block;
}

.pop-layer .btn_58{
	display: inline-block;
}

.pop-layer .btn_b,
.pop-layer .btn_black{
	color: #fff;
}

#distance,#timeTxt{
	background-color: transparent;
	border: none;
	padding: 0px;
}

.userInsert_top, .orderInsert_top {
	position: fixed;
	width: 480px;
	z-index: 999;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-bottom: 17px;
	border-bottom: 1px solid #dcdcdc;
}

.form-control-sm{
	font-size: 12px;
}

.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input{
	padding: 0px;
	
}

.k-picker-wrap .k-input{
	text-indent: 5px;
}

.k-tabstrip-wrapper label.col-form-label{
	width: 90px;
	display: block;
}

/* 오더수정 E */


/* 일괄등록 S*/
.option-area p{
	font-size: 12px;
	display: inline-block;
	font-weight: bold;
	margin: 0 7px 0 0px;
}

.orderBundle .form-group div label.uploadFile{
	text-align: center;
	line-height: 24px;
	margin: 0 7px 0 0; 
	padding: 3px 6px;
	font-weight: 500;
	font-size: 12px;
}

.filebox .upload-name{
	height: 26px;
}

.filebox label{
	background-color:transparent;
	color: #222;
	font-size: 12px;
	border: 1px solid #d7d7d7;
}

.filebox .upload-name{
	border: 1px solid #bbb;
	color: #d5d5d5;
	font-size: 12px;
}

.orderBundle .k-grid-header .k-header{
	background-color: #f6f6f6;
}

.k-grid-header-wrap .requireHeader{
	color: #222;
	background-color: #f6f6f6;
	font-size: 12px !important;
}

.k-grid-header th{
	padding: 4px;
}

.k-grid-norecords-template{
	width: 43em;
	height: 10em;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #222;
	font-weight: 500;
	padding: 20px 0px;
}

.k-grid-norecords-template::before{
	content: '';
	width: 38px;
	height: 43px;
	display: block;
	margin: auto;
	background: url(/images/icon/icon_excel.png);
	position: relative;
	top: 10px;
}

.k-datetimepicker .k-select{
	width: auto;
}

.orderBundle input.upload-name{
	color: #333;
}

.option-area-box-01 .btn_close{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-43%);
	cursor: pointer;
}

.orderBundle .k-grid tbody tr:hover{
	background-color: #fdf3cf;
}

.search-box{
	width: 25%;
	position: relative;
}

.btn-outline-secondary{
	padding: 3px 10px;
	float: right;
}

.option-area-box-01 button{
	margin-top: 2px;
}
/* 일괄등록 E*/


/* 그리드 S */
.accept{
	color: #2a5dc4 !important;
}

.k-pager-numbers .k-link{
	color: #222;	
	width: 24px;
	height: 24px;
}

.k-pager-wrap .k-link{
	border-color :transparent;
}

.k-pager-wrap .k-state-selected{
	border-radius: 20px;
	background-color: #e7e7e7;
	width: 24px;
	height: 24px;
	color: #0063d3;
}

.k-pager-wrap .k-state-selected:hover,
.k-pager-wrap .k-link:hover{
	background-color: #e7e7e7 !important;
	border: none !important;
}

.k-pager-numbers .k-link:focus,
.k-pager-nav:focus{
	box-shadow :none !important;
}

.k-dropdown .k-dropdown-wrap.k-state-hover, .k-dropdown .k-dropdown-wrap:hover{
	background-color: transparent !important;
	background-image: none !important;
}
/* 그리드 E */


/* 배차관리 S*/
.orderList #groupCount .btn_gray{
	margin-left: 5px;
}

@media (max-width: 1536px){	
	.media190 {
		width: 90px !important;
	}
	.media290{
		width: 90px !important;
	}
}

/* 배차관리 E*/


/* 조직정보 S*/
.compList h4{
	font-size: 20px;
	margin-bottom: 0px;
}

.compList .contents{
	/*max-width: 1202px;*/
	max-width:100%;
	margin: unset;
}

.compList .gray_box{
	margin: 0px;
}

.box{
	padding: 0px;
}

.compList .contents input,
.compList .contents select{
	font-size: 12px;
	height: 26px;
	border: 1px solid #bbbbbb;
	padding: 0 0 0 5px;
}

.compList .contents label{
	width: 215px;
	font-weight: bold;
	font-size: 14px;
	padding-top: 0px;
	align-self: flex-start;
}

.compList .cont-b-head{
	display: flex;
	justify-content: space-between;	
}


.compList .btn_b{
	padding: 0px;
	border-radius: 7px;
	width: 58px;
	height: 26px;
	font-size: 12px;
}

/* 조직정보 E*/


/* 로그인화면 S */

.login_wrap{
	display: flex;
	align-items: center;
	height: 100%;
	background-color: #ebebeb;
}

.login_wrap .login_cont01{
	width: 60%;
	min-width: 890px;
	height: 100%;
	background: url(/images/login_img.png) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

.login_wrap .login_cont01 h2{
	font-size: 0px;
	width: 289px;
	height: 126px;
	background: url(/images/login_txt.png);
	margin: auto;
}

.login_wrap .login_cont02{
	width: 40%;
	max-width: 500px;
	height: 100%;
	display: grid;
	align-content: center;
	position: relative;
}

.login_wrap .login_cont02 .logo{
	margin: auto;
}

.login_wrap .login_cont02 label{
	font-weight: 500;
	font-size: 14px;
}

.login_wrap .login_cont02 label a{
	color: #222;
	text-decoration: none;
}

.login_wrap .login_cont02 input{
	height: 40px;
}

.login_wrap .i-1cont .btn_b{
	width: 250px;
	height: 40px;
	border-radius: 7px;
}

.login_wrap .i-1cont .btn_b button{
	width: 100%;
	height: 100%;
	border: none;
	font-size: 14px;
}

.login_wrap .copyRight{
	color: #888888;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 30px;
}

.login_wrap .i-1cont{
	width: 250px;
	margin: auto; 
	color: #222;
}

.id_find a{
	margin-right: 10px;
}

.id_find a:last-of-type{
	margin-right: 0px;
	margin-left: 10px;
}

.login_wrap .login_cont02 input::placeholder{
	font-size: 14px;
	color: #aaaaaa;
}

/* 로그인화면 E */

/* 상황실 S */
.orderSituation .btn-row{
	float: none;
	margin-bottom: 15px;
}

.tool_group label{
	margin: 0 0 0 7px;
}

.orderSituation .tool_form{
	justify-content: space-between
}
/* 상황실 E */


/* 운임관리 S */
.freightControl .tool_form{
	justify-content: space-between
}

/* 운임관리 E */

/* 매입 S */
.sellPurchaseDeadline .k-pager-refresh {
	height: auto;
}
/* 매입 E */

/* 업무초기값설정 */
.k-dialog{
	border-radius: 30px;
	padding: 20px 0px;
}

.k-window-title{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
}

.k-window .k-dialog-titlebar{
	border: none;
	background-color: #fff;	
	display: block;
	text-align: center;
	padding: 0px 0 20px 0;
}

.k-window .k-window-actions{
	position: absolute;
	top: 22px;
	right: 20px;
}

.k-i-close::before{
	content: '';
	width: 18px;
	height: 18px;
	background: url(/images/icon/btn_close.png);
	display: block;
}

label.modal-big-name{
	font-size: 14px;
	color: #1d54c4;
	text-align: left;
	padding: 0px;
}

.modalEditor > .modalHeader{
	padding: 0 16px;
}

.modalEditor > .modalHeader50{
	padding: 0 50px;
}

.modalEditor .form-control[readonly]{
	background-color: #fff;
}

input::placeholder{
	color: #333;
}

/* 메뉴관리 S*/
.menuList select{
	font-size: 12px !important;
	color: red !important;
}
/* 메뉴관리 E*/

.userInsert .userInsert_top{
	border-bottom: 1px solid #dcdcdc;
}

/* 공지사항 등록 S */
.boardInsert .pop-layer .radio-or-checkBox input[type="checkbox"] + label:before,
.boardInsert .pop-layer .radio-or-checkBox input[type="checkbox"]:checked + label:after{
	top: 4px;
}

.boardInsert .radio-or-checkBox > .label-margin > span{
	font-size: 12px;
}

.boardInsert .filebox label{
	font-size: 12px;
	padding: 3px 8px;
	height: auto;
	margin-left: 10px;
}
/* 공지사항 등록 E */

/* 거래처 등록 S */
.custInsert .k-tabstrip-wrapper, 
.custInsert.pop-layer,
.custInsert-pop-layer{
	width: 440px !important;
}

.custInsert .userInsert_top{
	width: 420px;
}

.custList .cont-wrapper-page-grid.block{
	margin-left: 430px;
}
/* 거래처 등록 E */

/*사용자 등록 S*/
.userInsert .k-tabstrip-wrapper,
.userInsert.pop-layer,
.userInsert .pop-layer,
.userInsert .insert_pop{
	width: 450px !important;
}

.userList .cont-wrapper-page-grid.block{
	margin-left: 440px;
}

.userInsert .userInsert_top{
	width: 430px;
}
/*사용자 등록 E*/

/* 주소지 등록 S */
.custAddInsert.pop-layer,
.custAddInsert .k-tabstrip-wrapper{
	width: 450px !important;
}

.custAddList .cont-wrapper-page-grid.block{
	margin-left: 440px !important;
}

.custAddInsert .userInsert_top{
	width: 430px;
}
/* 주소지 등록 E */

/* 알림톡 전송 S */
#talkModal .k-datetimepicker .k-select{
	height: 22px;
}

#talkModal .radio-or-checkBox > .label-margin{
	padding-bottom: 0px;
}

#talkModal  .k-grid-header .k-header-column-menu{
	bottom: -1px;
}
/* 알림톡 전송 E */

/* 앱푸시전송 S */
#pushModal .radio-or-checkBox > .label-margin > span{
	font-size: 12px;
}

#pushModal .radio-or-checkBox > .label-margin{
	padding-bottom: 0px;
}

#pushModal .k-grid-header .k-header-column-menu{
	bottom: -1px;
}
/* 앱푸시전송 E */

/**
팝업 모달
 */
.k-window-titlebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: 0;
	padding-top: 21px;
}
.k-window-title {
}

.k-multiselect-wrap li .k-button {
	float: left;
	width: auto;
	padding-right: 22px;
	font-size: 14px;
	font-weight: 800;
	padding: 3px 23px 3px 5px;
}

.k-floatwrap {
	width:100%;
}

#btn_add {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}
.k-numerictextbox .k-state-hover {
	border: 0;
}
.k-multiselect {

}

.k-multiselect-wrap li.k-button {
	padding-right: 24px;
}


.pop-layer .label_button input[type="checkbox"] + label:before {
	top:2px !important;
}

.pop-layer .label_button input[type="checkbox"] + label:after {
	top:2px !important;
}


